[2011-04-20 01:02] raylu opened #1 "Documentation for MPMetrics.sendRequest()"
The documentation for com.mixpanel.android.mpmetrics.MPMetrics.sendRequest() describes a data field that doesn't exist.

[2012-02-17 02:15] yigit opened #5 "Clear super properties should not null the object"
[MPMetrics#clearSuperProperties](https://github.com/mixpanel/mixpanel-android/blob/master/src/com/mixpanel/android/mpmetrics/MPMetrics.java#L110) method null's the super parameters object instead of setting it to a fresh JSONObject.
Because track and registerSuperProperties methods does not check if mSuperProperties is null or not, this causes a crash.

Steps to reproduce:

[code]

[2012-02-17 03:21] #1 closed, assigned to nobody

[2012-02-17 20:33] #5 closed, assigned to nobody

[2012-06-21 20:33] cberner opened #7 "Please offer a Maven artifact"
It would be great if you guys offered a Maven artifact to make it easier to use this with Android projects that are managed by Maven.

[2012-07-20 22:08] yigit opened #8 "initializing mixpanel on the background"
if the first call to Mixpanel.getInstance() is made on a background thread, it fails to initialize because it tries to create a handler (which requires Looper)
here is the exception:

java.lang.RuntimeException: Can't create handler inside thread that has not called Looper.prepare()
at com.mixpanel.android.mpmetrics.MPMetrics$UniqueHandler.<init>(MPMetrics.java:74)
at com.mixpanel.android.mpmetric

[2012-09-12 01:10] joeatwork opened #13 "Allow users to query for Distinct id"
Allow users to query for the distinct_id currently in use by the event tracking library. Use an id that isn't related to the device id/android account id if reasonable.

[2012-09-13 15:53] #13 closed, assigned to joeatwork

[2012-09-26 22:58] #7 closed, assigned to nobody

[2012-09-26 22:59] #8 closed, assigned to nobody

[2012-12-20 23:28] Amokrane opened #14 "Build failing using Ant"
Hi,

I am trying to generate MPMetrics_v2.1.jar by running the following command:

ANDROID_HOME=/my/path/to/android/sdk ant library

 I receive the following error log:

[code]

I tried to generate a local.properties file by using:

[code]

But I got an error message due to the absence of the AndroidManifest.xml file. So I generated one manually containing the following line:

[code]

But same pro

[2012-12-21 22:31] #14 closed, assigned to joeatwork

[2012-12-21 23:06] joeatwork opened #15 "ANDROID_ID isn't a reliable default identifier on DROID2"
Related:

https://groups.google.com/forum/?fromgroups=#!topic/android-developers/U4mOUI-rRPY

Google recommends generating a UUID yourself and using that, see

http://android-developers.blogspot.com/2011/03/identifying-app-installations.html

[2012-12-21 23:51] #15 closed, assigned to joeatwork

[2013-01-31 20:45] ratpik opened #16 "Logical programming error in Trackcharge in Mixpanel API"
In MixpanelAPI.java, the below piece of code in trackCharge function has a logical error.

[code]

`transactionValue.put(key, transactionValue.get(key));` should be `transactionValue.put(key, metaData.get(key));`

I think I am facing issues because of this.

[2013-01-31 21:46] #16 closed, assigned to joeatwork

[2013-02-27 15:02] chrisjenx opened #17 "Add unit and intergration testing"
Using something like Travis CI with maven and robolectric you can unit and functional test your library.

[2013-02-27 15:05] chrisjenx opened #18 "Disable setIntervalFlush"
I would suggest that 0 will autoFlush when event(..) is fired.
<= -1 will disabled autoFlushing requiring the user to flush the data manually so we can handle deferred loading correctly.

If it does this already, add it to the JavaDoc.

[2013-02-27 16:59] #17 closed, assigned to nobody

[2013-03-06 09:39] yigit opened #19 "mixpanel api is leaking lots of android.os.Message objects"
i have two memory dumps from our app when it crashed because of an "out of memory" issue and after analyzing both dumps with Eclipse Mat, I see that Mixpanel is leaking a lot of android.os.Message objects.

I took a quick look at your source code, looks like 'for whatever reason' mixpanel stops handling track messages. (it is leaking around 20 MB).

one information I heard from dump owners is that

[2013-03-11 19:50] #19 closed, assigned to joeatwork

[2013-04-02 00:24] joeatwork opened #22 "Don't Write to Shared Preferences from the Main Activity Thread"
This work is more appropriate to the Mixpanel work thread. Shared preferences are very fast, but accesses appear when users are auditing their applications in StrictMode.

[2013-04-02 00:41] joeatwork opened #23 "Run DB initialization inside of worker thread"
Right now, DB initialization happens in the main activity thread, when a worker is constructed. This should happen in the worker thread to improve performance.

[2013-04-09 17:55] #23 closed, assigned to joeatwork

[2013-05-14 17:30] joeatwork opened #25 "Provide a Synchronized entrypoint to the Mixpanel API"
This would make it easier for folks to use the Mixpanel API from different threads. Any synchronized handle should be optional/opt-in, but some folks might want to use the Mixpanel API from multiple threads without having to worry about a particular threading model.

[2013-06-01 11:38] chrisjenx opened #26 "Add unidentify"
This may need more work than just the Android lib (I havent looked)

But an `unidentify()` api would be good, as if a user forceably logs out we dont really want to associate a logged out user OR another user with that install. (well at least until they/someone else logs in)

[2013-06-01 12:17] chrisjenx opened #27 "Ensure mixpanel-android works with Android Studio"
Includes moving build to Gradle.

[2013-07-09 00:30] mingfai opened #29 "Use InputStream or Reader to avoid OutOfMemoryError"
it's my app that uses a lot of memory but the OOM it caused probably indicate the MixPanel SDK has a room for optimization.

Exception:

[code]

I looked at:
https://github.com/mixpanel/mixpanel-android/blob/master/src/com/mixpanel/android/mpmetrics/MPDbAdapter.java
https://github.com/mixpanel/mixpanel-android/blob/master/src/com/mixpanel/android/mpmetrics/AnalyticsMessages.java
`private void send

[2013-08-27 01:38] joeatwork opened #30 "Eliminate shared DateFormat between instances"
Turns out that DateFormat is stateful and not thread safe, for no apparent reason. Make sure each instance of MixpanelAPI has it's own instance.

[2013-08-28 16:57] joeatwork opened #31 "HttpClient connections not disposed of properly"
Stack trace donated by a user follows (in Strict Mode):

08-28 12:25:19.209: E/StrictMode(16388): A resource was acquired at
attached stack trace but never released. See java.io.Closeable for
information on avoiding resource leaks.
08-28 12:25:19.209: E/StrictMode(16388): java.lang.Throwable: Explicit
termination method 'close' not called
08-28 12:25:19.209: E/StrictMode(16388): at
dalvik.system.C

[2013-08-30 19:57] joeatwork opened #32 "Suppress stack trace in logs when falling back to HTTP"
When we fall back to HTTP, it puts a stack trace in the logs, and it freaks people out. Don't show the stacktrace if the event is not log-worthy.

[2013-09-18 00:24] joeatwork opened #33 "Bluetooth automatic analytics are not thread safe"
Automatic bluetooth analytics don't work if track() is called from a thread other than the main thread.

[2013-09-26 18:39] orienw opened #34 "Allow editing of endpoint"
Modifying things such as the endpoint currently require rebuilding the library. Allow modification of endpoint (and possibly other values currently stored as MPConfig constants) without violating the thread safety of the library.

[2013-10-10 22:08] #25 closed, assigned to nobody

[2013-10-10 22:10] #29 closed, assigned to nobody

[2013-10-10 22:11] #26 closed, assigned to nobody

[2013-10-10 22:13] #27 closed, assigned to nobody

[2013-10-25 20:41] yigit opened #35 "Mixpanel API does not check network status"
Hi,
When i disable network and use the app, I see lots of Mixpanel [HTTP request errors](https://gist.github.com/yigit/7161379).

it sadly keeps trying to send all data. This is being triggered periodically + when I dispatch new events (probably because client reached `MPConfig.BULK_UPLOAD_LIMIT`).

There are a couple of problems:
- There is no reason to try querying network when it is down. You c

[2013-10-25 21:35] joeatwork opened #36 "Generate JSON POSTs more efficiently"
From @yigit, in #35

JSON creation is fairly inefficient. Data is already stored as json in DB. You parse it first, then add all of them to a JSONArray and serialize it to string again. You could probably just use a string builder and append them to eachother using []. Dalvik VM is pretty bad w/ temporary objects, especially on gingerbread. When events pile up, this turns into a GC trigger.

[2013-10-30 19:09] jishaq opened #37 "Provide a way for developers to set BASE_ENDPOINT and FALLBACK_ENDPOINT"
We send our Mixpanel tracking to a proxy server.  In order to do this, we must modify MPConfig's `BASE_ENDPOINT` and `FALLBACK_ENDPOINT` members.

This is not currently possible because:

1) `com.mixpanel.android.mpmetrics.MPConfig` is not declared as a `public` class.
2) `MPConfig.BASE_ENDPOINT` and `MPConfig.FALLBACK_ENDPOINT` are declared as `final`, so we are not able to change them.

We have

[2013-10-30 19:21] jishaq opened #38 "Custom BASE_ENDPOINT and FINAL_ENDPOINT values are trashed by sendAllData"
We send our Mixpanel tracking to a proxy server by using the BASE_ENDPOINT and FINAL_ENDPOINT values.  In 3.3.2, the URI we supply, however, is trashed by AnalyticsMessages sendAllData().

For example, if we set the endpoint as follows:

[code]

... the sendAllData() method will trash the URL, causing it to become:

`http://ourcompany.com/loggingproxy?action=sendmsg/track?ip=1`

Instead of what we

[2013-10-30 19:28] jishaq opened #39 "Provide mechanism to use custom HTTP headers"
We have our Mixpanel tracking sent to a proxy server for processing, via the BASE_ENDPOINT and FALLBACK_ENDPOINT properties in MPConfig.

Our proxy server requires a custom HTTP header -- specifically, "RDP" -- on all inbound requests.

We have modified HttpPoster.postHttpRequest() to affect this:
[code]

However, it would be nice to have a mechanism where we can simply supply this to the library,

[2013-10-31 23:28] joeatwork opened #40 "Allow (or confirm) that timestamping of events can be overridden by callers"
Either post a workaround here, or add a capability to construct events/people messages with appropriate timestamps and auto-properties before sending them into the Mixpanel pipeline. This is a related issue to #28  - for tracking in resource constrained or time-sensitive environments

[2013-11-10 09:23] emartynov opened #41 "Crash: RuntimeException"
Caused by java.lang.RuntimeException
Can't create handler inside thread that has not called Looper.prepare()

MixpanelAPI.java line 972
com.mixpanel.android.mpmetrics.MixpanelAPI.getDefaultEventProperties

http://crashes.to/s/295d0f8ec38

[2013-11-11 16:56] #41 closed, assigned to nobody

[2013-11-15 06:25] jishaq opened #42 "getDefaultEventProperties() causes RuntimeException "Can't create handler inside thread that has not called Looper.prepare()""
**Symptom**

[code]

*\* See Also**
Might be related to https://github.com/mixpanel/mixpanel-android/issues/8

**Problem**
Your `MixpanelAPI.getDefaultEventProperties()` method can call `BluetoothAdapter.getDefaultAdapter()` for the first time, from the context of a worker thread.  This causes a bug in the Android OS to present as the runtime exception noted above.

We have seen this bug present o

[2013-11-15 17:10] #42 closed, assigned to nobody

[2013-12-18 18:53] blazsolar opened #45 "Aar manifest permissions"
Permissions `ACCESS_NETWORK_STATE` and `BLUETOOTH` should be removed from `AndroidManifest.xml` because they are optional and therefore should not be automatically added when using gradle with maven dependencies.

[2013-12-18 19:08] #45 closed, assigned to nobody

[2014-01-02 17:30] joeatwork opened #46 "Support set_once"
Will involve changes to the queuing of events before identification

[2014-01-03 01:08] #37 closed, assigned to joeatwork

[2014-01-03 01:10] #35 closed, assigned to joeatwork

[2014-01-03 01:11] #34 closed, assigned to joeatwork

[2014-01-03 01:11] #32 closed, assigned to joeatwork

[2014-01-03 01:14] #18 closed, assigned to joeatwork

[2014-01-03 01:15] j4rs opened #47 "If user changes the choice appears like two responses at mixpanel dashboard."
In a more than one question survey scenario if the user (at the mobile side) navigate forward and backward changing his/her choice then at mixpanel dashboard it shows a lot of responses, when actually what happened is that just one user change his/her
mind.

[2014-01-03 01:17] #33 closed, assigned to nobody

[2014-01-03 01:18] #30 closed, assigned to joeatwork

[2014-01-03 01:19] #31 closed, assigned to joeatwork

[2014-01-03 01:21] joeatwork opened #48 "Do not send multiple responses to a single question in a single session"
The iOS library currently caches responses and sends them all at once when the survey activity is dismissed- this means that a user can change their mind, and still record only a single response to a survey. Bring the android library into parity with the iOS behavior

[2014-01-03 01:21] #48 closed, assigned to nobody

[2014-01-03 01:24] #38 closed, assigned to nobody

[2014-01-03 01:34] joeatwork opened #49 "Support list union"
Related to #46 - this will require a different mechanism of caching updates before people identify

[2014-01-03 18:56] #47 closed, assigned to nobody

[2014-01-04 14:58] c3c opened #50 "Disable HTTP fallback by Default"
During an audit of an Android app we found this statistics library leaking semi-sensitive data over an unencrypted connection when we shut off port 443.

This was the HTTP fallback kicking in. We believe that vendors are unaware of this behavior and it should be disabled by default.

/cc @c3c, @ConnorDillon, @xureal, @PTVB

Edit:

If this behavior was intended for compatibility with older Android

[2014-01-07 17:24] #50 closed, assigned to joeatwork

[2014-01-09 21:44] joeatwork opened #51 "Survey prompt truncated early on Android Xperia U"
Users report that survey prompts end with ellipsis after a single line using the Xperia U (Android 2.3/Gingerbread).

[2014-01-22 16:38] joeatwork opened #53 "Generating Blurred Background prevents ListViews from rendering correctly"
Generating the blurred background for a survey will prevent running UI from rendering.

[2014-01-22 16:39] joeatwork opened #54 "Exception is thrown if SurveyActivity is not registered in Android Manifest"
This should simply decline to show surveys rather than throw.

[2014-01-22 18:43] #53 closed, assigned to nobody

[2014-01-22 18:44] joeatwork opened #55 "Enable background blurring underneath surveys"
Existing BackgroundCapture class can interfere with rendering listviews in parent app. For now, this feature is disabled (all surveys display with a neutral background) but we'd like to re-introduce the blurring.

[2014-01-22 19:00] jbwyme opened #56 "Set timeout to prevent checking from surveys too often"
Some apps sleep and resume very frequently and it'd be beneficial not to keep checking for surveys every second or so.

[2014-01-28 09:53] jnagels opened #57 "Add Mobile Network information"
It would be nice to add the information about whether or not the device is connected to a mobile network. Similar to the Wifi-information. Shouldn't be that hard looking at SystemInformation.java and AnalyticsMessages.java

[2014-02-05 22:29] #54 closed, assigned to nobody

[2014-02-10 17:42] #49 closed, assigned to nobody

[2014-02-10 17:42] #46 closed, assigned to nobody

[2014-02-10 17:42] #22 closed, assigned to joeatwork

[2014-02-10 17:43] joeatwork opened #60 "enable createAliasForDistinctId"
In the mean time, a workaround is present here: https://github.com/mixpanel/mixpanel-android/pull/43

[2014-02-12 01:41] #55 closed, assigned to nobody

[2014-02-13 19:51] arittr opened #61 "error message when building with SDK below < 4.0.0"
If I choose any Android SDK below 4.0.0, I get the following error message:

~/Development/Libraries:SDKs/mixpanel-android-latest4.0.0/src/main/res/layout/com_mixpanel_android_question_card.xml:43: error: No resource identifier found for attribute 'requiresFadingEdge' in package 'android'

[2014-02-14 19:03] drmarshall opened #62 "Proguard prevents building Android v4.0.0"
Proguard (http://developer.android.com/tools/help/proguard.html) throws warnings that prevent building Mixpanel Android v4.0.0 (see log below).

Hopefully, a specific Proguard configuration correct this rather than changes to the lib itself.

Example error log:

[code]

[2014-02-14 21:08] #62 closed, assigned to nobody

[2014-02-17 21:38] rodriamaro opened #63 "Automatic referrer properties cause conflict with fiksu"
I know that is a non related bug with mixpanel, but just for your information:

I have an app with fiksu + mobiletracker + facebook SDK + mixpanel 3.x ,  when I updated mixpanel to 4.0, fiksu shows this error:

[code]

I will send a ticket to fiksu, but maybe that could be a generic error with others tracking system.

[2014-02-18 23:25] joeatwork opened #64 "Surveys are never cached locally as "Seen""
This means there is a possible (but rare) race condition that could result in a user seeing a survey they've already seen.

[2014-02-25 10:36] jsonfry opened #66 "Analytics Worker Fatal Exception: Strange Thread Crash"
We're using 4.0.0 and seeing some very strange crashes in various places on certain devices, but not others.

The most reproducible crashing device is the incredibly slow Sony Xperia U running Android 4.0.4.

If we ever call MixpanelAPI.getInstance(context, MIXPANEL_TOKEN) then our app crashes in different places, in our network request callbacks with this:

...
FATAL EXCEPTION: com.mixpanel.andro

[2014-02-25 18:17] joeatwork opened #67 "Automatic survey display can crash applications if the activity surveys listen on is finished or dead"
The following stack trace:

02-25 14:33:18.420: E/AndroidRuntime(17364): FATAL EXCEPTION: main
02-25 14:33:18.420: E/AndroidRuntime(17364): android.view.WindowManager$BadTokenException: Unable to add window -- token android.os.BinderProxy@41909088 is not valid; is your activity running?
02-25 14:33:18.420: E/AndroidRuntime(17364): at android.view.ViewRootImpl.setView(ViewRootImpl.java:517)
02-25 1

[2014-02-26 16:38] joeatwork opened #68 "Use a new activity to show dialog boxes and popups"
In it's current form, the Mixpanel library uses a given, user activity to display popup dialogs and notifications. This can cause problems if the user activities have unexpected properties (like being preemptively finished, for example.) A more stable approach would be to launch an activity that then manages the dialogs. Thanks to @cristizmf for the idea!

[2014-03-04 23:42] abakerSavings opened #70 "Error In StackBlurManager"
I am running v4.0.1 RC1 and getting this error out in the field.  I haven't been able to duplicate it myself.

`java.lang.RuntimeException: An error occured while executing doInBackground()
       at android.os.AsyncTask$3.done(AsyncTask.java:278)
       at java.util.concurrent.FutureTask$Sync.innerSetException(FutureTask.java:273)
       at java.util.concurrent.FutureTask.setException(FutureTask.

[2014-03-10 16:11] joeatwork opened #71 "Scale down rather than use ellipses for long text in surveys and notifications"
See, for example (and possible use) https://github.com/grantland/android-autofittextview

[2014-03-10 16:13] joeatwork opened #72 "Replace StackBlurManager with Renderscript blur"
This is a build issue- on release, Eclipse would not build resources correctly if they included renderscript, and we'll need to think carefully to accommodate Eclipse if we rely on the renderscript support library in our own library (which may introduce conflicts or build complexity into user libraries)

[2014-03-10 17:06] joeatwork opened #73 "Document targetSdk / Build tools version requirements"
The library may (and will) require a minimum build tools version, in addition to requiring a minimum platform version for devices that run library code- this stuff should be clearly documented in the README and official docs.

[2014-03-15 12:00] Uroc327 opened #75 "Cannot compile (ant and eclipse)"
when I execute `ant debug`, I get the following error (Getting them in eclipse too):

[code]

I am using revision e700790ad032e3b6371fb4afbed3bdb57a0ee018.

[2014-03-19 18:28] drmarshall opened #76 "Default mDataExpiration is 48 hours, but /track accepts 120 hour old data"

[2014-03-19 21:02] evanmp opened #77 "App crash related to StackBlurManager class"
Hi all!

I have found an issue related to Mixpanel library integration. In short – Mixpanel lib causes application to crash on Android Nexus 4 emulator 4.4.2. This crash revealed some more issues that I did not see before. We should try to resolve this until our next release that is scheduled at the end of this month. I’ll explain the issue in more technical details below for Mixpanel team.

I hav

[2014-03-29 19:21] juliocbcotta opened #78 "Support BigTextStyle notifications"
Hi, I would like to know if it is possible to make the BigTextStyle feature the default style of text when available. I mean, many push notifications needs more than one line to display the whole text, so in Android 4.1+ it could be archived using BigTextStyle.
Can you consider this for the library?

Thanks.

[2014-04-01 20:45] #76 closed, assigned to nobody

[2014-04-01 20:46] #75 closed, assigned to nobody

[2014-04-01 20:52] #68 closed, assigned to nobody

[2014-04-01 20:53] #63 closed, assigned to nobody

[2014-04-01 20:55] #66 closed, assigned to joeatwork

[2014-04-01 20:55] #67 closed, assigned to joeatwork

[2014-04-01 21:02] #64 closed, assigned to nobody

[2014-04-01 21:04] #40 closed, assigned to joeatwork

[2014-04-01 21:05] #61 closed, assigned to nobody

[2014-04-01 21:06] #56 closed, assigned to nobody

[2014-04-01 22:41] joeatwork opened #79 "Document (or clarify) that MixpanelAPI should be used from one thread only"
Also document that calls to MixpanelAPI methods don't block, and are safe to call in the UI thread.

[2014-04-07 18:35] helinwang opened #80 "please use apply instead of commit when saving super properties"
In line https://github.com/mixpanel/mixpanel-android/blob/ae81071beed93c955c4b61abd8177e92b0768a3d/src/main/java/com/mixpanel/android/mpmetrics/PersistentProperties.java#L315

I see no need of using `commit()` which is a blocking call, and the code is very likely to be run on UI thread.

[2014-04-07 21:06] #80 closed, assigned to nobody

[2014-04-08 01:35] #77 closed, assigned to nobody

[2014-04-08 01:35] #70 closed, assigned to joeatwork

[2014-04-09 13:56] kp2222 opened #81 "deletes events from local storage even when the event post fails because of a connection failure to Mixpanel API host"
We have noticed that the android library deletes the events from the local storage when the event post to the Mixpanel host fails because of a network connectivity issue. We saw that the android client first checks if there is network connectivity before trying to post the events [ https://github.com/mixpanel/mixpanel-android/blob/master/src/main/java/com/mixpanel/android/mpmetrics/AnalyticsMessag

[2014-04-10 16:45] joeatwork opened #82 "Allow users to decline to show the modal before showing a survey"
For folks who call showSurveyIfAvailable explicitly, allow them to jump straight to the survey rather than show the dialog.

[2014-04-10 16:48] joeatwork opened #83 "The "Next" arrow should not be displayed on the last survey question"
One last point about the UI of the survey. In the top corner of each survey page there are the arrow symbols to navigate between the questions. But on the last page there is still a right arrow that signals the user that there is more content.

[2014-04-17 18:29] #73 closed, assigned to nobody

[2014-04-17 18:30] #60 closed, assigned to nobody

[2014-04-24 15:59] joeatwork opened #85 "Add showSurveyWithID(), per the iOS library"
See https://mixpanel.com/site_media/doctyl/uploads/iPhone-spec/Classes/Mixpanel/index.html#//apple_ref/occ/instm/Mixpanel/showSurveyWithID

[2014-05-05 22:25] #85 closed, assigned to nobody

[2014-05-06 02:47] juliocbcotta opened #90 "Builder.build not available on some SDK_INT >= 16 device (java.lang.NoSuchMethodError: android.app.Notification)"
May you guys take a look at this?

[code]

[2014-05-21 10:55] shimitapiro opened #95 "java.security.NoSuchAlgorithmException: MessageDigest MD5 implementation not found"
Hey guys,
I'm seeing this exception in my bug report system, mostly on 4.1.X systems.
Any idea when will this be fixed ?

0	java.lang.AssertionError: java.security.NoSuchAlgorithmException: MessageDigest MD5 implementation not found
1		at org.apache.harmony.xnet.provider.jsse.NativeCrypto.X509_NAME_hash(NativeCrypto.java:188)
2		at org.apache.harmony.xnet.provider.jsse.NativeCrypto.X509_NAME_hash_

[2014-05-21 20:31] JakeWharton opened #96 "Hide JSONObject as implementation detail"
The `org.json.*` API is terrible to use from consumers of the library and presumably for you inside of the library. I mean a checked `JsonException` on just about every method? Please see yourself out, `org.json.*`. While everyone appreciates the lack of Gson or Jackson dependency, can we strive to kill `JSONObject` from the public API?

The offenders are `.track`, `.registerSuperProperties`, and

[2014-05-22 03:21] JakeWharton opened #97 "Support User Logout"
Either via `identify(null)` or an explicit `clearIdentity()` API.

[2014-05-22 13:49] shimitapiro opened #98 "NPE in GCMReceiver when sent an intent with no extras"
Hey , i have updated to the latest 4.2.1, And i'm seeing this:
0
java.lang.RuntimeException: Unable to start receiver com.mixpanel.android.mpmetrics.GCMReceiver: java.lang.NullPointerException
1
at android.app.ActivityThread.handleReceiver(ActivityThread.java:1866)
2
at android.app.ActivityThread.access$2400(ActivityThread.java:118)
3
at android.app.ActivityThread$H.handleMessage(ActivityThread.ja

[2014-06-05 23:52] coyarzun89 opened #99 "Caused by: java.lang.NullPointerException com.mixpanel.android.mpmetrics.InAppFragment.onCreateView(InAppFragment.java:156)"
Hi,
I got this crash. It's just one on GT-I9082L with Android 4.1.2.

Caused by: java.lang.NullPointerException
14
at com.mixpanel.android.mpmetrics.InAppFragment.onCreateView(InAppFragment.java:156)
15
at android.app.FragmentManagerImpl.moveToState(FragmentManager.java:829)
16
at android.app.FragmentManagerImpl.moveToState(FragmentManager.java:1035)
17
at android.app.FragmentManagerImpl.moveToSta

[2014-06-10 20:23] pforhan opened #100 "Consolidate or align mixpanel-android api with mixpanel-java api"
Ideally, the same instructions and documentation could be applied to android or to java.

Android should just add conveniences and features atop the java api.

[2014-06-10 20:24] pforhan opened #101 "Ship standard jar for mixpanel"
Split mixpanel-android into mixpanel-android-core and mixpanel-android-ui.  The latter can be the same aar we have today.  The former is a simple jar without any resources.  You could even tease the classes apart too so that only the aar has the survey stuff, for example.

[2014-06-10 22:02] #100 closed, assigned to nobody

[2014-06-16 00:33] drmarshall opened #102 "This is just a test for Mixpanel Support"
Here, we are testing Mixpanel Support's ability receive and quickly reply to GitHub issues in our official libraries.

[2014-07-02 22:45] helinwang opened #105 "can not track log in funnel"
before log in user's identity is a random identity, after log in user's identity is userid's hash. There is no way to associate this two identity to make log in funnel work. (sign up funnel works because alias can be used. But documentation says alias can not be used elsewhere: "The most important thing to remember when using alias is that you should only call it when a new user signs up.")

Are t

[2014-07-11 00:47] fred8 opened #106 "NPE in 4.2.1 when getPeople().identify() is called with null"
Just upgraded the lib to 4.2.1, here is the log I get in logcat

MixpanelAPI  E  Worker threw an unhandled exception
                        E  java.lang.NullPointerException
                        E      at libcore.net.UriCodec.encode(UriCodec.java:132)
                        E      at java.net.URLEncoder.encode(URLEncoder.java:57)
                        E      at com.mixpanel.android.mpmetric

[2014-07-14 23:10] phantomis opened #107 "Support to TrafficStats"
Hi, Could you add the TrafficStats class to MixPanel lib? I want to messure the network usage please.

[2014-07-24 21:23] coyarzun89 opened #110 "java.lang.OutOfMemoryError on InAppNotification"
Hi,
I have received 3 crashes of this kind. More Information:
Devices: GT-I8260, LT22i and G-TN8010
Android OS: 4.1.2

Here is the Stack Trace:

---

0   java.lang.OutOfMemoryError
1       at android.graphics.Bitmap.nativeCreate(Native Method)
2       at android.graphics.Bitmap.createBitmap(Bitmap.java:640)
3       at android.graphics.Bitmap.createBitmap(Bitmap.java:620)
4       at com.mixpanel.an

[2014-07-24 21:28] #90 closed, assigned to nobody

[2014-07-29 01:07] #110 closed, assigned to joeatwork

[2014-07-29 01:08] #106 closed, assigned to nobody

[2014-07-29 01:08] #102 closed, assigned to nobody

[2014-07-29 17:41] coyarzun89 opened #111 "NullPointerException on com.mixpanel.android.util.ActivityImageUtils.getScaledScreenshot"
Hi,
I have received this crash. Here are extra info:
Device: Micromax A77
## OS: 4.2.2

Stack Trace

---

0   java.lang.RuntimeException: Unable to resume activity {co.seahorse.android/co.seahorse.android.views.fragmenttabhost.NewFragmentTabHostActivity}: java.lang.NullPointerException
1       at android.app.ActivityThread.performResumeActivity(ActivityThread.java:2936)
2       at android.app.Acti

[2014-08-19 04:41] mattprecious opened #112 "Alias documentation contradicts itself"
The [Android API Integration](https://mixpanel.com/help/reference/android#identify) doc says:

The [Javadoc](http://mixpanel.github.io/mixpanel-android/com/mixpanel/android/mpmetrics/MixpanelAPI.html#alias) says:

Which one is correct?

[2014-08-19 23:11] #112 closed, assigned to nobody

[2014-08-20 14:55] maxme opened #113 "Put the package versionCode to sent properties"
An android app can have one version name (for instance: 2.2.1) for several version code (134 and 135 for instance), and it could be handy to filter events by version code.

Could be added here: https://github.com/mixpanel/mixpanel-android/blob/master/src/main/java/com/mixpanel/android/mpmetrics/MixpanelAPI.java#L1008

[2014-08-20 16:32] joeatwork opened #114 "Support third party (local) aar builds"
Right now, aar builds will automatically attempt to upload an official release to Sonatype if the version number of the build isn't a snapshot. This can be frustrating in cases where customers want to deploy their own versions to local repositories. We should find another way to distinguish between official archives and local archives.

[2014-08-23 16:03] juliocbcotta opened #117 "NullPointerException: Display state is null during Survey Activity Destruction"
Hi, I got it from crashlytics:

[code]

I am not quite sure of the version I was using, since my gradle file was like
compile "com.mixpanel.android:mixpanel-android:4.2.+@aar"

[2014-08-25 18:27] pivotal-is opened #118 "Google play services dependency conflict"
We are trying to use Mixpanel with Google Play Services. Our gradle file looks like so:

[code]

 Unfortunately we cannot get the gradle file to build. It fails with this stacktrace:

[code]

We have tried this using the Mixpanel sample app with the same results. Any thoughts?

[2014-09-04 14:50] phil-brown opened #119 "Blurred overlay appears with no survey"
**Version: MixPanel 4.3.0**
**Platform: Android 4.4**
**Device: Nexus 5**

## Steps to reproduce

1. Open app that uses MixPanel surveys
2. Click a notification from a different app, opening the other app.
3. Using the back button, go back to the first app.

*Here, a MixPanel survey attempts to show*

**Expected Result:** The screen blurs and the survey is shown.
**Actual Result:** The screen blur

[2014-09-05 01:23] phil-brown opened #120 "Surveys lock screen orientation inappropriately on API < 18"
**Version: MixPanel 4.3.0**
**Platform: Android 4.2.1**
**Device: Asus Transformer Prime TF300**
## Observation

On my tablet, I have noticed that surveys often appear as dialogs, only upside-down from how the tablet is oriented. I often test the tablet upside-down, since it works better with the case and where the cord is.
## Additional Details

I recently update to 4.3.0 to incorporate App Links

[2014-09-05 01:27] phil-brown opened #121 "Request: Allow events for multiple projects"
Our company would like to be able to log events both for each project individually, and all-together in one project. This will allow us to have access to all the analytics data in one project, while still being able to have effective push notifications and survey targeting.

The ideal solution would send the data once, with both API keys, reducing the number of calls to the server.

[2014-09-05 16:24] #121 closed, assigned to nobody

[2014-09-07 16:10] rootux opened #122 "Accepting user's input on a Text Field when he hits the NEXT arrow ( -> )"
Right now if we add a text field.
The user's input is only accepted if he hits ENTER on the text field.
It should accept it also if he hit the Next button in case of 2 questions. or if he hit the Next button incase this is the only input we want from the user

[2014-09-08 21:08] coyarzun89 opened #123 "java.lang.IllegalStateException: Can not perform this action after onSaveInstanceState"
This is still happening with the v4.3. It has happened already 50 times. Please, fix it soon, or at least add a try-catch on the remove(InAppFragment.java:212) method. Here are the devices and SO:
http://i59.tinypic.com/6qh7i0.png
I'm not sure if it's related but it has happened more frequently on an activity with this theme:
`<item name="android:windowBackground">@android:color/transparent</item>

[2014-09-10 19:34] #99 closed, assigned to joeatwork

[2014-09-10 19:35] #123 closed, assigned to joeatwork

[2014-09-12 21:14] joeatwork opened #124 "Survey Dialog is Ancient"
The default Mixpanel survey theme is from the dawn of time. Update the default to something more contemporary, and provide built-in themes with even more contemporary standard designs.

[2014-09-17 19:07] #124 closed, assigned to joeatwork

[2014-09-18 17:47] mullen3 opened #125 "Unset Device Tokens"
This is a clone of my feature request from the mixpanel-ios sdk.

I have a use case for "unsetting" device tokens via the sdk. We have log-in and log-out functionality in our app. It's possible for a user to log-in with account X, log-out of that account, and then log in with account Y (all on the same device).

I would like to be able to unregister the deviceToken for account X when they log-out.

[2014-09-25 11:33] chrisjenx opened #126 "MPConfig should define constants"
You should really define `public static final String` for your meta tags, that way we can work out what they should be in the manifest without having to look up the source code.

More annoyingly, Setting Logging/Debug should either be taken from `BuildConfig.DEBUG` or let us set it pragmatically so we have more control from build tools such as `Gradle` Manifest merging is messy and more effort to

[2014-09-27 03:03] fred8 opened #127 "MP Lib 4.2.2: AnalyticsMessageHandler.handleMessage : ArrayIndexOutOfBoundsException"
Hi,

I just would like to report one issue on my bug tracker. Unfortunately, I'm not able to tell you how to reproduce it.

java.lang.ArrayIndexOutOfBoundsException: length=4; index=30
       at java.lang.ThreadLocal.get(ThreadLocal.java:58)
       at java.lang.IntegralToString.convertInt(IntegralToString.java:216)
       at java.lang.IntegralToString.appendInt(IntegralToString.java:173)
       at

[2014-09-29 17:06] coyarzun89 opened #128 "java.lang.NullPointerException at com.mixpanel.android.mpmetrics.MixpanelAPI$PeopleImpl$4.run(MixpanelAPI.java:1451)"
Hi,
First of all, thanks for the fixes on the version 4.3.1.
I have this new crash that has happened only one time. Here is the stack trace:

Stack Trace

---

0   java.lang.NullPointerException
1       at com.mixpanel.android.mpmetrics.MixpanelAPI$PeopleImpl$4.run(MixpanelAPI.java:1451)
2       at android.app.Activity.runOnUiThread(Activity.java:4730)
3       at com.mixpanel.android.mpmetrics.Mix

[2014-09-29 17:08] coyarzun89 opened #129 "Caused by: java.lang.NullPointerException at com.mixpanel.android.mpmetrics.MixpanelAPI$PeopleImpl$4.run(MixpanelAPI.java:1432)"
Hi,
First of all, thanks for the fixes on the version 4.3.1.
I have this new crash that has happened only one time. Here is the stack trace:

Stack Trace

---

0   java.lang.RuntimeException: Unable to resume activity {co.seahorse.android/co.seahorse.android.views.fragmenttabhost.NewFragmentTabHostActivity}: java.lang.NullPointerException
1       at android.app.ActivityThread.performResumeActivity

[2014-09-29 17:09] coyarzun89 opened #130 "Caused by: java.lang.NullPointerException at com.mixpanel.android.surveys.SurveyActivity.isShowingSurvey(SurveyActivity.java:398)"
Hi,
First of all, thanks for the fixes on the version 4.3.1.
I have this new crash that has happened only one time. Here is the stack trace:

Stack Trace

---

0   java.lang.RuntimeException: Unable to destroy activity {co.seahorse.android/com.mixpanel.android.surveys.SurveyActivity}: java.lang.NullPointerException
1       at android.app.ActivityThread.performDestroyActivity(ActivityThread.java:33

[2014-10-06 16:25] #127 closed, assigned to nobody

[2014-10-08 23:59] #111 closed, assigned to nobody

[2014-10-09 00:00] #81 closed, assigned to nobody

[2014-10-09 00:01] #98 closed, assigned to nobody

[2014-10-13 19:38] joeatwork opened #132 "Make the library easy to use with Ant"
Right now, building and actually using the library with a legacy ant build is *really* hard, due to 1) a lack of support for resource merging and library projects in general in Ant, and 2) lack of aar support in particular.

[2014-10-21 16:22] dbachelder opened #133 "Add ability to optionally handle notifications manually"
I want to handle certain InApp messages in a very specific way... others I just want MP to take care of it... it seems like this would be possible if showGivenOrAvailableNotification() was public....

[code]

[2014-10-21 17:36] dbachelder opened #135 "InApp notifications re-appear during development"
I create an in-app notification with no restrictions (goes to all users)

When I rebuild to device I get the same notification every time. Even though I am manually dealing with notifications and popping them off with `mixpanelAPI.getPeople().getNotificationIfAvailable()`

The user is getting identified by their email address on app start... Is that the problem? reidentifying a user?

[2014-10-21 18:27] #135 closed, assigned to nobody

[2014-10-27 15:59] phil-brown opened #138 "Crash"
_NullPointerException in Mixpanel 4.3.1_

[code]

[2014-10-30 02:48] jfsso opened #139 "$ignore_time in people update requests"
I'd like to suggest the addition of a parameter for people updates that allows us to send $ignore_time = true as property to the engage endpoint ([doc](https://mixpanel.com/help/reference/http#people-analytics-updates)).

We perform profile properties updates under some conditions in an periodic data sync and that results in inaccurate "Last Seen" property of the profile. Would be great if we coul

[2014-10-30 18:02] phil-brown opened #140 "Feature Request: Support ADM Notifications for Kindle Notifications"
We have just added support for Kindle and the Amazon App Store to our apps. Android devices that use the Amazon App Store to download this app can still use GCM for surveys and notifications, but Kindle Fire does not support this.

Amazon has its own messaging system called [Amazon Device Messaging (ADM)](https://developer.amazon.com/appsandservices/apis/engage/device-messaging) that would work in

[2014-11-07 18:36] vitorprado opened #141 "Not tracking in LG G2 Device"
I'm trying to track events in LG G2 device and this doesn't tracking.
All other devices(including LG G3) are working perfectly.

I ran app in debug mode and i saw all the track and flush calls. But this not showing the user and track in mixpanel page.

ENV: latest android studio with mixpanel in gradle.
Device: LG G3, Kitkat(4.4)

[2014-11-12 18:38] vmaximov opened #142 "Crashing on the official lollipop due to implicit intents"
[code]

[2014-11-13 19:27] #142 closed, assigned to joeatwork

[2014-11-17 14:25] phil-brown opened #144 "Crash: Service Intent must be explicit"
This happens in one of our apps. They use the same code - but only one of the app has had issues. We're using version 4.3.1.

[code]

[2014-11-17 14:27] #144 closed, assigned to nobody

[2014-11-18 03:08] mixpanelsteve opened #145 "GCM Receiver / Android Style Guides"
Google is starting to be vigilant about Push notifications following the [style guide](http://developer.android.com/design/patterns/notifications.html) and clients are starting to get nastygrams about being in violation.

Our standard [gcm receiver](https://github.com/mixpanel/mixpanel-android/blob/c772a91149ca1f7799f722b6e0aa6242a6a8afd0/src/main/java/com/mixpanel/android/mpmetrics/GCMReceiver.ja

[2014-11-29 13:35] sirvon opened #146 "NullPointerException on a basic setup....What Gives?"
I'm getting NPE on this basic Mixpanel setup.

[code]

[code]

[2014-12-01 18:18] #146 closed, assigned to nobody

[2014-12-10 17:04] joeatwork opened #149 "Support TimeEvent"
Support setting event timers, as in the iOS library.

[2014-12-10 20:49] #118 closed, assigned to nobody

[2014-12-10 20:53] #51 closed, assigned to nobody

[2014-12-10 20:55] #129 closed, assigned to nobody

[2014-12-10 21:34] #141 closed, assigned to nobody

[2014-12-10 22:17] #78 closed, assigned to nobody

[2014-12-10 22:47] #133 closed, assigned to nobody

[2014-12-11 00:00] #105 closed, assigned to nobody

[2014-12-11 05:17] mixpanelsteve opened #150 "In-App message Click Through events ($campaign_open)"
There needs to be an event triggered for cases where a cta_url exists and drives the redirect/deep link intent in both [this line](https://github.com/mixpanel/mixpanel-android/blob/master/src/main/java/com/mixpanel/android/surveys/SurveyActivity.java#L164) and also [in the Mini Notification](https://github.com/mixpanel/mixpanel-android/blob/master/src/main/java/com/mixpanel/android/mpmetrics/InApp

[2014-12-11 18:01] #138 closed, assigned to nobody

[2014-12-11 18:02] #130 closed, assigned to nobody

[2014-12-11 18:02] #128 closed, assigned to nobody

[2014-12-11 18:02] #117 closed, assigned to nobody

[2014-12-11 18:02] #114 closed, assigned to nobody

[2014-12-11 18:02] #113 closed, assigned to nobody

[2014-12-11 23:07] #150 closed, assigned to nobody

[2014-12-12 19:10] lgvalle opened #151 "User logout: clear identify?"
I can't find a way to clear user identify on logouts.

There is a method in MixpanelApi.java but is not public:

[code]

Any changes you make that public? Or is there any other way to handle this situation?

[2014-12-17 21:08] #149 closed, assigned to nobody

[2014-12-17 21:22] #151 closed, assigned to nobody

[2014-12-18 17:57] #145 closed, assigned to nobody

[2014-12-22 08:40] JakeWharton opened #154 "Deployed pom.xml has wrong package."
Is `aar.asc` and should be `aar`. This prevents the library from being used without specifying an explicit qualifier.

Example: https://repo1.maven.org/maven2/com/mixpanel/android/mixpanel-android/4.5.0/mixpanel-android-4.5.0.pom

[2014-12-22 22:21] #154 closed, assigned to joeatwork

[2014-12-25 00:39] eygraber opened #156 "Last Seen Not Updating"
I'm using Mixpanel in an Android and iOS app. Neither sets any people properties (the server handles aliasing and people properties - first it aliases then it sets some properties and this only happens once). The issue is that while last seen is updating for iOS users, the Android users last seen is still set to the time when the server set the people properties. I'm not sure which one is the inco

[2015-01-05 12:22] kamoljan opened #157 "Release 4.5.1 is not available in gradle yet?"
I have included `mavenCentral()` in my `repositories`.
However, gradle still cannot download Release 4.5.1.

[2015-01-05 17:36] joeatwork commented on #156
Thanks for reporting this (and sorry for the long delay in replying!) As things stand, last seen is only set when you update people analytics properties- if it is updated in iOS, then they're certainly setting people properties (possibly associated with push notifications, if you're not setting any properties explicitly in your app.) I'll get in touch with our iOS folks and see 1) what they may be

[2015-01-05 18:12] joeatwork commented on #157
I'm sorry you're having trouble!

We've made some changes to how we package the artifact in 4.5.1- in particular, we no longer require that `@arr` is specified, so it's possible we introduced some issues here. I'm able to pull the artifact from Maven central with the following bit of gradle:

[code]

Does this work for you? Would you mind posting the `dependencies` snippet of your build.gradle her

[2015-01-05 18:16] eygraber commented on #156
@joeatwork Thanks! Setting a people property did the trick. Adding `mixpanel.getPeople().set(new JSONObject())` is what did it.

[2015-01-05 18:16] #156 closed

[2015-01-05 18:39] joeatwork commented on #156
Glad this helped!

[2015-01-06 08:32] kamoljan commented on #157
Hi @joeatwork

even with

    dependencies {
        ... // Your other dependencies here
        compile 'com.mixpanel.android:mixpanel-android:4.5.1'
    }
it still does not load.

Is your repository?

    repositories {
        mavenCentral()
    }

Best regards
Kamol

[2015-01-06 16:39] joeatwork commented on #157
It is. Would you mind posting your gradle file here (or perhaps sending sending it to support@mixpanel.com)? I'm afraid I can't reproduce your issue.

[2015-01-07 01:16] kamoljan commented on #157
hi @joeatwork

My gradle configuration was wrong.
I am sorry, it was my fault.

It works now.
Thank you very much for your prompt responses.

Best regards
Kamol

[2015-01-07 01:18] joeatwork commented on #157
Glad to hear it worked out!

[2015-01-07 01:18] #157 closed

[2015-01-14 20:48] sciutand opened #160 "Debug message causes crash when fallback is disabled"
using version 4.5.2
[code]

After that worker stays dead and all messages are dropped.

[2015-01-14 20:56] sciutand commented on #160
I just checked where the code fails 203. turning off debug will fix the issue.

FYI upon app start up I do get the below so not sure why the fallback is not in the uri[]:

[code]

Shouldn't the sdk/worker be able to recover from such an error rather than just stay dead? Doesn't seem to be very resilient.

[2015-01-14 22:38] arittr commented on #160
@sciutand turning off debug will absolutely solve the issue - this is a bug that will hopefully be patched in the next release. the reason for this crash is that we took the fallback decide URL out of the library - in the case that the device couldn't connect over SSL our library went into a loop that repeatedly checked both HTTP and HTTPS endpoints for results (creating a ton of request amplifica

[2015-01-15 00:05] joeatwork commented on #160
I've scheduled this for a fix in the next release.

[2015-01-20 21:28] SleeplessByte opened #161 "Very uncommon AnalyticsMessages worker error on activity recreation"
Seems like a check missing:

[code]

[2015-01-20 21:34] joeatwork commented on #161
Very strange! Do you have any idea what circumstances might result in the bug? Also, can you confirm you're experiencing this in the latest stable version (or just let me know what version you're experiencing it with?)

If I'm reading the line numbers correctly, it looks like this error is in an exception handler, and something really terrible has already happened to the Mixpanel thread.

[2015-01-20 21:35] joeatwork commented on #161
Are you seeing an error level log entry with "Worker threw an unhandled exception" in the logs surrounding this issue? If so, could you send the exception?

(If you can't get the info I'm asking about, don't worry- this is still on our radar- Most of all, thanks for the bug report!)

[2015-01-20 21:38] SleeplessByte commented on #161
The unhandled exception is the NullPointerException :) There is no other error, here is the FATAL entry:

[code]

[2015-01-20 21:38] SleeplessByte commented on #161
Running the latest Gradle supplied version.

[2015-01-20 23:35] phil-brown opened #162 "Possible Resource Leak in ServerMessage.performRequest"
With strict mode on, I get this error with Mixpanel 4.5.1:

[code]

[2015-01-21 18:04] joeatwork commented on #162
That is a super weird error, so I've got a few follow-up questions.

Do you experience this error often (on every test run) or occasionally?
Have you experienced the issue in a more recent version? (The code in your stack trace hasn't changed much since 4.5.1, so even if you haven't I don't imagine the issue is fixed.)
Are there any stack traces near the error? In particular, anything with log tag

[2015-01-23 22:23] sirvon opened #163 "How do InAppNotifications arrive when there are multiple triggers activated?"
burning question in regards to InAppNotifications.

So if there say 20 triggers activated around the same time, how will these 20 notifications come in.

pretty much they'll be queued up until I call getNotificationIfAvaliable() 20 times?

[2015-01-26 12:35] chandu4ugandhi opened #164 "Regarding the eclipse library"
Can you provide the eclipse library. I went over the Github but its providing library for the Android studio with gradle system.
Please reply asap.

[2015-01-26 17:27] joeatwork commented on #164
You can use the library in eclipse by downloading the source code. The instructions for using Mixpanel with Eclipse can be found here:  https://mixpanel.com/help/reference/android-eclipse/

Thanks for your interest!

[2015-01-26 17:27] #164 closed

[2015-01-30 20:49] joeatwork opened #165 "Remove Checks for API version that will never fail"
Current versions of the library only support API v9 and greater, but there are API checks in the code for earlier versions. Remove these.

[2015-01-31 16:46] sirvon opened #166 "Sharing SuperProperties over different instances?"
If I have a baseActivity and a few classes that both instantiate a mixpanel instance.

[code]

will both those instances share super properties or is instantiating a mixpanel instance basically creating a new one with a separate super properties?

[2015-02-02 17:24] joeatwork commented on #166
Super-properties will be token - Each token will have it's own super properties.

[2015-02-02 17:24] #166 closed

[2015-02-03 18:12] joeatwork opened #167 "Check and Honor Retry-After headers when communicating with the server"
Server may advise minimum retry intervals in seconds after a server side issue. Check and respect this header if it is present.

[2015-02-04 18:53] phil-brown commented on #162
This is very difficult to reproduce. I have seen it more - but cannot reliably reproduce it.

[2015-02-04 18:56] joeatwork commented on #162
No worries, I'm going to leave this issue open and keep an eye out for it here.

Thanks again for the report!

[2015-02-05 04:33] phil-brown commented on #162
Sounds good! I have updated to the latest release (4.5.3), and I still see this output sometimes.

[2015-02-09 04:45] aashrairavooru opened #169 "Making the survey activity as a fragment"
Is there any chance of making the survey activity a fragment,there is a noticeable lag while the survey activity launches,making it as a fragment and activity will give us much more flexibility in integrating the survey in the app

[2015-02-09 17:13] joeatwork commented on #169
Thanks for the feature request! This seems like it would be a good change.

[2015-02-09 17:27] joeatwork opened #171 "Add @NonNull and @Nullable annotations where applicable"
As soon as we can be sure code with these annotations builds in eclipse we should add them as part of our standard style.

[2015-02-09 17:29] joeatwork opened #172 "Add @IntDef and @StringDef annotations where we use ints and strings as enumerations"
Particularly in AnalyticsMessages, this could be really valuable

[2015-02-24 16:38] joeatwork opened #174 "Use elapsedRealtime rather than currentTimeMillis to time intervals and events"
http://developer.android.com/reference/android/os/SystemClock.html#elapsedRealtime()

We should only be using currentTimeMillis() for default event timestamps- we should almost certainly never be subtracting a value involving currentTimeMillis() in the code. Audit and close (or fix, if needed)

[2015-02-24 23:27] yinfeiru opened #175 "Some tests are failing in airplane mode"
eg. the decidecheckertest fails in airplane mode but works in regular mode..

turn on the airplane mode and run the full test suite to reproduce.

Actually, it might not related to airplane mode (as I'm having troubles even if the airplane mode is off).. but there're definitely bugs in the test.

[2015-03-02 16:43] joeatwork opened #176 "Logtags too long"
Log tags have a length limit of 23 characters in some parts of the Android API, but the log tags in the library are longer than that.

[2015-03-05 19:01] joeatwork commented on #96
JSONObject is the worst. Let's get this done.

[2015-03-05 19:11] joeatwork commented on #96
Thanks @eveliotc for the pointer

[2015-03-05 19:27] eveliotc commented on #96
Awesome! thanks @joeatwork!

![Praise the lord](http://feyworks.com/wp-content/uploads/2012/06/Praise-the-Lord.jpg)

[2015-03-05 21:58] JakeWharton commented on #96
Yessssssssss!
On Mar 5, 2015 2:27 PM, "Evelio Tarazona Cáceres" <notifications@github.com>
wrote:

[2015-03-05 23:48] snard6 opened #178 "UI Lag on Lollipop"
While testing our app on Lollipop we noticed a huge decrease in performance on Lollipop devices.  After much debugging we narrowed down the issue to MixPanel.  After removing the MixPanel init everything is nice and smooth:
MixpanelAPI.getInstance(this, MIXPANEL_TOKEN);

This is fairly easy to reproduce by adding a height animator on any view.  The more complex the view the more janky the result,

[2015-03-06 18:41] joeatwork commented on #178
Hi, @snard6 ! I'm sorry you're having problems!

I'd love to get a bit more information about the circumstances- If you don't mind, I'd love to get answers to the following questions (either here, or at support@mixpanel.com if you're not comfortable posting your answers in public)

Of course, the issues you're seeing are ours to solve, so please don't feel obligated to answer, but any information

[2015-03-08 19:14] fred8 opened #180 "PersistentIdentity : OutOfMemoryError"
Hey!

I noticed recently a new crash in my crash report tool. I didn't had a chance to reproduce it out of the wild.

Here is the stack trace:

java.lang.OutOfMemoryError
       at java.lang.String.(String.java:422)
       at java.lang.AbstractStringBuilder.toString(AbstractStringBuilder.java:642)
       at java.lang.StringBuilder.toString(StringBuilder.java:663)
       at org.json.JSONStringer.to

[2015-03-09 16:33] joeatwork commented on #180
I suspect I know a possible cause!

When you make calls to Mixpanel.getPeople().set or other people analytics methods, but don't call Mixpanel.getPeople().identify(), the changes you make end up stored on the device in persistent memory. This is true even if you call Mixpanel.identify() - the people version is required to send set() and other updates to the server.  The changes get purged when you

[2015-03-11 04:14] fred8 commented on #180
@joeatwork Thank you for the quick feedback. We stopped to do set people properties while identify was not called yet.

[2015-03-11 16:30] joeatwork commented on #180
Glad that helped! I'm going to leave this bug open (again, we don't want to throw runtime exceptions out of the library!) but I'm glad that the fix worked for you!

[2015-03-12 18:18] arittr opened #183 "ConcurrentModificationException - com.mixpanel.android.mpmetrics.MixpanelAPI.track(MixpanelAPI.java:364)"
Using 4.5.3

java.lang.RuntimeException: An error occured while executing doInBackground()
at android.os.AsyncTask$3.done(AsyncTask.java:278)
at java.util.concurrent.FutureTask$Sync.innerSetException(FutureTask.java:273)
at java.util.concurrent.FutureTask.setException(FutureTask.java:124)
at java.util.concurrent.FutureTask$Sync.innerRun(FutureTask.java:307)
at java.util.concurrent.FutureTask.run(F

[2015-03-12 18:54] joeatwork commented on #183
Right now, we expose a shared JSONObject to callers of getSuperProperties, this will be fixed in v4.5.4 with commit c7f035a11de47a1a79ef0d8ea2b43bfc6115efc1

[2015-03-16 08:47] mwlodarczyk opened #184 "In-App push notifications not working on large screens"
I found an issue with In-App push notifications:

On devices that have large screens (more than 720 px) in-app pushes do not work. I checked in code and you try to download image with @4x suffix, which is not available on the server. The FileNotFound exception is called and push is ignored. We pull'ed the codes and we are working on a fix (try to download 4x if exists, if not try to download 2x, i

[2015-03-16 09:16] jbwyme commented on #184
Thanks for this report. I was looking through our access logs the other day
(for an unrelated issue) and I noticed some @4x requests. I didn't realize
the Android lib was the guilty party! @joeatwork should be able to provide
you with more details.

On Mon, Mar 16, 2015 at 1:47 AM, Michał Włodarczyk <notifications@github.com

[2015-03-16 17:57] snard6 commented on #178
Hey @joeatwork ,

Sorry for the slow reply, it has been busy around here.  Here's the answers to your questions:

- On device.  We've tested on the Moto X and Nexus 5 (both Lollipop) and saw the problem.  It doesn't happen on our LG G3 or Htc One (KitKat & Jellybean).

- I added that metadata and the problem stayed.

- Yes, we had 5 codeless events.  I removed them all, deployed, and tried again.

[2015-03-16 18:07] joeatwork commented on #178
Thanks for your response! This is good information for us- we can use it to try and replicate your issue!

Thanks again (and thanks for your report!)

[2015-03-17 07:53] mwlodarczyk commented on #184
I did some fixes in code to make in app pushes work correctly. As I said before: I try to download @4x image, if it fails I try @2x image. Are you able to review this code and add new 4.5.3 release? We are working with MixPanel and are not able to release new version of our app without this fix. It would be easier for us to put it here instead of supporting our own branch.

[2015-03-17 08:08] mwlodarczyk commented on #184
The pull request is here: https://github.com/mixpanel/mixpanel-android/pull/186

[2015-03-17 16:06] joeatwork commented on #184
Thanks so much for the report, AND for the fix! I've merged your changes in #186 into our release candidate branch, and it'll be in the next release of the library.

Thanks again!

[2015-03-17 17:02] younes0 opened #187 "Error:Execution failed for task ':app:dexDevDebug'."
My app building process was working fine until I've included this SDK, I get this error:

Error:Execution failed for task ':app:dexDevDebug'.

	E:\Programs\Android SDK\build-tools\21.1.2\dx.bat --dex --no-optimize --output E:\android\bnm\app\build\intermediates\dex\dev\debug --input-list=E:\android\bnm\app\build\intermediates\tmp\dex\dev\debug\inputList.txt
Error Code:
	2
Output:
	UNEXPECTED TOP-L

[2015-03-17 17:03] fred8 commented on #180
@joeatwork So we applied the change (stopped to do set people properties while identify was not called) and the same issue appear again on our crash report tool.

[2015-03-17 17:32] joeatwork commented on #180
Thanks for keeping us up to date on this!

Note to maintainers: I suspect this has to do with giant queues in persistent people properties already written to the device. Fix should truncate the queue if an OOM occurs (which can be done directly in storage)

[2015-03-17 17:34] fred8 commented on #180
@joeatwork Thanks for your super reactive support!

[2015-03-17 17:35] joeatwork commented on #187
It looks like you've hit the method limit for your app. You may need to proguard it, or build it with multiple dex files. If you do proguard it, please include the following in your proguard file:

[code]

[2015-03-17 18:05] younes0 commented on #187
I didn't think that I was going to reach that limit so quickly.
I could build the proguard version with this SDK.
Thanks @joeatwork !

[2015-03-17 18:05] #187 closed

[2015-03-18 13:25] mwlodarczyk opened #188 "Make OnMixpanelUpdatesReceivedListener public for use with addOnMixpanelUpdatesReceivedListener"
I want to call showPushNotificationsIfAvaiable on my app's main screen once new notification arrived. I though about using OnUpdateListener, but it turned it can be accessed only through mixpanel's package. I think that this should be made public. Is it possible to make this public? Would'nt it break the code? Looking forward to hearing from you.

[2015-03-18 15:05] joeatwork commented on #188
The good news is `OnMixpanelUpdatesReceivedListener` will be public in version 4.5.4 of the library. However, showing in-app notifications on callback might not be the best approach for notification management.

We don't make any guarantees about when in-app notifications arrive, and if you have multiple notifications they will all tend to arrive at once. We also may change when we check for notif

[2015-03-18 18:41] fred8 opened #189 "OutOfMemoryError: DecideChecker.getNotificationImage()"
Hey,

MP SDK: 4.5.3
Just to let you know about a recent crash report I got. Not so much info to repro it.

DecideChecker.java line 231
com.mixpanel.android.mpmetrics.DecideChecker.getNotificationImage

java.lang.OutOfMemoryError
       at android.graphics.BitmapFactory.nativeDecodeByteArray(BitmapFactory.java)
       at android.graphics.BitmapFactory.decodeByteArray(BitmapFactory.java:596)

[2015-03-18 18:54] joeatwork commented on #189
Thanks for this report!

[2015-03-25 18:34] joeatwork opened #192 "showSurveyById doesn't seem to work, or works in a non obvious and useless way"
Works intermittently, but we can reproduce a case where there are multiple surveys including the id selected coming from the Mixpanel decide endpoint, but calls to showSurveyById don't show. This could be because the surveys are marked as shown too early, or they overflow the buffer for available surveys- both of these states are expected and reasonable, but they make showSurveyById really hard to

[2015-03-27 09:11] danikula opened #194 "Google Play Services 7.0.0 Requires play-services-gcm for Push Notifications"
I want to update to Google Play Services 7.0.0, but proguard fails with reason
[code]
My dependencies:
[code]
I use version 4.5.3

[2015-03-27 12:10] joeatwork commented on #194
Thanks for the report! I'll try to reproduce this here.

[2015-03-27 13:16] joeatwork opened #195 "Show Bolts library log message exactly once"
We probably need to see the "Please install the Bolts library >= 1.1.2 to track App Links: bolts.AppLinks" exactly once per run. Let's make that happen.

[2015-03-27 16:59] baolongnt commented on #194
@danikula  I just ran into a similar issue. GCM is now ins a separate artifact. So you need to add

[code]

[2015-03-27 17:14] joeatwork commented on #194
Thank you so much, @baolongnt ! We'll add this to the docs!

[2015-03-27 17:14] joeatwork commented on #194
Not closing this for now, we need to figure out how to make this easier for people and update our documentation.

[2015-03-28 18:02] danikula commented on #194
@baolongnt thank you!

[2015-04-01 17:55] arittr commented on #95
I've seen this in the wild:

ava.lang.AssertionError: java.security.NoSuchAlgorithmException: MessageDigest MD5 implementation not found
       at org.apache.harmony.xnet.provider.jsse.NativeCrypto.X509_NAME_hash(NativeCrypto.java:188)
       at org.apache.harmony.xnet.provider.jsse.NativeCrypto.X509_NAME_hash_old(NativeCrypto.java:181)
       at org.apache.harmony.xnet.provider.jsse.TrustedCertif

[2015-04-02 10:53] allan1st opened #196 "Cannot open survey activity on targetSdkVersion 21+"
I'm not sure if it is related to my targetSdkVersion (which are 21 and 22), but I get this error when I am using com.mixpanel.android.MPConfig.AutoShowMixpanelUpdates to true
or I use showNotificationIfAvailabe() or showGivenNotification()

[code]

[2015-04-02 14:23] joeatwork commented on #196
Thanks for this report (and so sorry for the inconvenience!)

It looks like you may be missing some of the resources that come with the Mixpanel library. Would you mind posting a bit about how you're building your application? In particular

- Are you using the aar package with Maven or Gradle, or including the source?
- If you are including the source, how do you run your builds?

[2015-04-02 21:22] allan1st commented on #196
Hi joeatwork,
here is my main part of build file.

[code]

I have staging/release buildTypes with different signings and also different mixpanel tokens. And the release build is with minifyEnabled and shrinkResources turning to true. Neither of the two builds works.
I currently use MixpanelAPI.getPeople.getNotificationIfAvailable() to get In-App notification and render my own view, but it would be

[2015-04-02 22:17] joeatwork commented on #196
Thanks for the feedback! This is really helpful!

If you're not minifying or shrinking your debug build, It sounds like we can rule that out as a problem. One thing to try is specifying that you depend on the aar specifically (That's where the missing resources live) - if you change your mixpanel dependency to

[code]

does it solve the problem?

[2015-04-02 23:12] joeatwork opened #197 "Remove homebrew Base64 encoder and use android.util.Base64"
The current in-library Base64 is only needed for devices the library no longer supports. Let's use the platform Base64 encoder (or determine we can't due to character set issues or whatever)

[2015-04-03 23:36] jfsso opened #198 "Feature request: Event Properties calculated on demand"
A great addition to the default event properties would be the screen orientation at the time the event happened. This was a very important state for us to know in some analysis and I guess many more people would benefit from this one if it is available in the SDK from the beginning.

An even more nicer addition would be to let us developers set some sort of event interceptor that we could use to a

[2015-04-06 17:58] arittr commented on #198
@jfsso I agree that this would be killer, and I'm going to put in a request to get this added. for now you might want to try grabbing orientation with Activity.getResources().getConfiguration().orientation or something similar. you can then manually add this to the event:

JSONObject props = new JSONObject();
try {
     props.put("orientation", this.getResources().getConfiguration().orientation);

[2015-04-06 22:20] jfsso commented on #198
Thanks @arittr !

Explaining about the "EventInterceptor" a bit more... in an app we're building, there are a few properties we want to add to events to know about the device's current state at the time the event happens. One example in our case is the speed a car is traveling when interacting with our app. This isn't something that can't be done using global properties, but it is just so ineffici

[2015-04-06 22:56] arittr commented on #198
oh i see - thanks for the detail @jfsso ! I think the best thing to do here would be to just wrap the .track call with some code that adds in the property before calling .track - it would look like the above code, just synchronized to the mixpanel object and called something a bit different (like TrackWithIntercept). that way you can just call your custom track without the JSON puts to keep the co

[2015-04-07 14:09] joeatwork commented on #198
@jfsso this actually sounds like a broadly useful tool- being able to install some sort of computed property sees like it would solve not only your case, but a number of advanced Mixpanel cases. There is a lot to think about to make it work, but I think this feature, or something like it, should probably go into the library!

[2015-04-08 15:18] allan1st commented on #196
Yes, it did fix my problem using aar
Thanks @joeatwork

[2015-04-08 15:19] joeatwork commented on #196
Excellent! Thanks for the feedback!

[2015-04-08 15:19] #196 closed

[2015-04-14 01:08] robertott opened #201 "Use Google Advertising ID for default distinct_id"
There is curiosity around whether Mixpanel should use Google Advertising ID (https://developer.android.com/google/play-services/id.html) as a value for distinct_id as opposed to using a randomly generated hash string.

Benefits may include persistence of ID if app is deleted and re-installed.

Thanks!

[2015-04-14 15:47] joeatwork commented on #201
We should do this generally- it makes Android lib behavior more consistent with the iOS lib, and seems just generally useful. The first step will be to make sure we're familiar with Google's policy surrounding the id, what circumstances it is present or missing, etc.

[2015-04-14 15:48] joeatwork commented on #201
Because the Google Advertising ID is part of play services, we may need to work around missing play services to provide this feature.

[2015-04-14 17:46] arittr opened #202 "make miniNotificationPresentationTime easily configurable like iOS"
In iOS this can be easily changed by modifying L152 ( https://github.com/mixpanel/mixpanel-iphone/blob/master/Mixpanel/Mixpanel.m#L152 ), while changing this in Android requires forking the library and editing a variable deep in the in-app stack ( https://github.com/mixpanel/mixpanel-android/blob/master/src/main/java/com/mixpanel/android/mpmetrics/InAppFragment.java#L262 ). We should move this to

[2015-04-14 17:56] joeatwork commented on #202
This is already configurable on iOS, so allowing it would be parity.

[2015-04-16 14:28] mwelham opened #205 "IllegalStateException: Can not perform this action after onSaveInstanceState"
Hey,

Repeatable crash (happens enough that I can grab it in a debugger and get any other info you need).

'com.mixpanel.android:mixpanel-android:4.5.3'

Seems to happen when we're changing activities, and have recently set/unset properties with MixpanelAPI.People.set(String propertyName, Object value)

Properties never seem to end up in our Mixpanel account.

Please let me know whatever I else I

[2015-04-16 16:31] joeatwork commented on #205
Yow! This is a problem! Have you sent an in-app notification (and in particular, is that notification showing during the crash?)

Thank you so much for reporting this!

[2015-04-16 16:56] mwelham commented on #205
Hey Joe,

Thanks for the quick response.

It's a test Mixpanel project which we're using to play with Mixpanel integration (I can send you the details in private, if it helps), and we did experiment with notifications and surveys, but I don't believe to the specific device I was working with. In fact I don't see any trace of that device in the people event stream, It's not impossible that one of m

[2015-04-16 18:06] joeatwork commented on #205
This is a big help! Whether or not you're sending inApps, the library should *absolutely* not crash your app! From the stack trace you sent, it does look like you're sending a notification, but if you never see it, well, that's a problem, too!

I'm interested in the work you're doing in onSaveInstanceState - that might give me a hint for where to check. You're also welcome to send any details you

[2015-04-17 11:52] mwelham commented on #205
Hey Joe,

This activity doesn't actually override onSaveInstanceState. (I did it when testing after the crash to see what I could see.)

Here's the sequence of events that causes the crash:

This activity (BaseActivity) is up and running (onCreate, onResume).
It pushes another activity in front of it.
An intent comes through, the topmost activity completes.
onResume in this activity runs again, an

[2015-04-17 16:11] joeatwork commented on #205
Gotcha- it makes sense that this is a race with a fragment (and that may be why we're having a hard time reproducing it here)

[2015-04-20 11:47] fabiozo opened #207 "Issue with tools:ignore="AllowBackup" in AndroidManifest.xml"
Due to presence of tools:ignore="AllowBackup" in https://github.com/mixpanel/mixpanel-android/blob/v4.5.3/src/main/AndroidManifest.xml file I'm not able overwrite that attribute in my project.

The only solution was to copy "mixpanel-android" project to my project and get ride of tools:ignore="AllowBackup" from application node.

[2015-04-20 16:31] joeatwork commented on #207
Thanks for this report! We definitely don't want to cause problems like this.

[2015-04-27 14:32] badeleux commented on #138
java.lang.RuntimeException: Unable to destroy activity {com.ultimatefanlive.ultimatefanandroid/com.mixpanel.android.surveys.SurveyActivity}: java.lang.NullPointerException: Attempt to invoke interface method 'void com.mixpanel.android.mpmetrics.MixpanelAPI$People.append(java.lang.String, java.lang.Object)' on a null object reference
       at android.app.ActivityThread.performDestroyActivity(Activ

[2015-04-27 15:12] phil-brown commented on #138
@badeleux this is a separate bug - the stack trace is different. I would recommend opening a new bug [here](https://github.com/mixpanel/mixpanel-android/issues/new).

[2015-04-27 16:36] joeatwork opened #211 "Apparent race condition in surveys - NPE when dismissing a survey after calling reset on MixpanelAPI"
From a report by @badeleux

[code]

[2015-04-27 16:37] joeatwork commented on #138
Hi, @badeleux ! Thanks for the report! I've filed issue #211 to record the issue.

I do have a few questions (you can answer them either here or in the new issue if you have the time) Mostly, are you passing `null` to MixpanelAPI.getPeople().identify() anywhere in your code?

Thanks again for the report, and I'm sorry for the inconvenience!

[2015-04-27 18:26] badeleux commented on #211
Not explicitly I am able to replicate the issue when I login to my app and then quickly before any survey will show up sign out., which also invokes `reset` on `MixpanelAPI`.

[2015-04-27 18:29] joeatwork commented on #211
This is a great help, and a good clue for us! I suspect that the survey display is racing with your reset, and by the time we configure the survey there is no user to apply it to.

[2015-04-27 21:44] gastonsanguinetti commented on #178
I have the same problem! Please let me know if there is any update on this bug or if I can help giving you more information.

[2015-04-28 20:06] hvisser opened #212 "Fine grained dependency for Google Play Services"
The docs don't make it clear which part of Google Play Services is used by the Mixpanel SDK (I assume gcm?). Because Google Play Services is huge it would be better to specify the exact dependency like    `compile 'com.google.android.gms:play-services-gcm:7.0.0`. This helps for apps that would otherwise hit the dex limit.

[2015-04-28 20:40] joeatwork commented on #212
That's true! This is bad enough of a docs issue to be a bug. Thanks for the report!

[2015-04-29 16:06] joeatwork commented on #183
This is fixed in 4.5.4

[2015-04-29 16:06] #183 closed

[2015-04-29 16:07] joeatwork commented on #132
We will not be supporting ant as of release 4.5.4

[2015-04-29 16:07] #132 closed

[2015-04-29 16:10] joeatwork commented on #167
This fix is present and merged in 4.5.4dev

[2015-04-29 16:10] #167 closed

[2015-05-03 09:48] ryazmin opened #215 "OutOfMemory after ~20 mins of flooding with event"
Getting OutOfMemory if the app starts flooding the mix panel api with event.
Total size of event properties is ~600bytes,  track event called every 10ms.

java.lang.OutOfMemoryError
       at java.lang.String.<init>(String.java:422)
       at java.lang.String.<init>(String.java:404)
       at com.mixpanel.android.util.Base64Coder.encodeString(Base64Coder.java:44)
       at com.mixpanel.android.mpm

[2015-05-04 16:35] joeatwork commented on #215
Wow, that is a lot of events! Thanks for reporting this!

[2015-05-04 17:00] ryazmin commented on #215
I'm sorry, but it was a false alarm.
I double checked everything a few times and found a real root cause.

[2015-05-04 17:00] #215 closed

[2015-05-04 17:05] joeatwork commented on #215
Glad to hear it! Do be aware, 600 events per second, per user of your app might end up with quite a lot of data points in the long run! You might wa

[2015-05-08 23:34] fred8 commented on #189
@joeatwork I'm still getting a bunch of error in production for that one. Any plans to get it fixed soon?
Thank you!

[2015-05-08 23:37] joeatwork commented on #189
I'd like to get a fix for this in the next release

[2015-05-14 18:24] ryanseams opened #219 "Codeless event tracking breaking looking for a conditional element"
Using Mixpanel codeless event tracking, I bound the tracking to an element which only appears upon user interaction with the app. This is configured as explained below:

fragment1 has a menu item(say M1) on which there was a codeless event tracking. The leak is happening on a menu item(M2) which is inflated by fragment2 in place of this menu item(M1).

When this occurs, the SDK fails -- the view c

[2015-05-20 09:35] jaredmixpanel commented on #95
Another example stack trace for this issue:

[2015-05-26 06:23] sgallego commented on #178
Hi,
is there any update about this bug? I have the same problem too.

[2015-05-26 16:12] joeatwork commented on #178
Thanks for your report, @sgallego ! We've been working on reproducing this. If either you or @snard6 would feel comfortable sharing your layout files with Mixpanel directly (you can email joe@mixpanel.com or support@mixpanel.com) that might help.

It's likely the core of the issue is associated with codeless event tracking, which requires a traversal of the view hierarchy to bind it's events, but

[2015-05-29 07:34] louis-schiff commented on #95
We are also getting crashes from this. mostly 4.1.2, but some on 4.0.4. here's a stack trace:
[code]

[2015-05-30 23:54] dbachelder opened #224 "allow custom scheduling and flushing of events"
I'd like to be able to use GCM Network Manager to pick an ideal time to send analytics events, so I'm not incurring radio start/wait penalty for just analytics.

https://developers.google.com/cloud-messaging/network-manager

This would allow me to defer that work for a small amount of time in the hope that I can piggyback off another app, or my own app starting the radio for other user related wor

[2015-06-01 08:05] pjq commented on #212
Yes has the same issue, the methods count is more than 65536, because of the Google Play Services. Refer to https://www.contentful.com/blog/2014/10/30/android-and-the-dex-64k-methods-limit/

[2015-06-01 16:52] joeatwork commented on #212
We'll be including this information in the 4.5.4 docs (coming really soon now :)

For reference, here are all of the dependencies you'll need:

[code]

[2015-06-01 17:06] joeatwork commented on #224
This is really interesting! You may be able to fake it in the short term with `mixpanel.flush()` - It'll try to flush immediately in that case.

[2015-06-01 17:07] dbachelder commented on #224
wont I run the risk of some buffer getting filled or MP trying to push events on its own schedule anyway?

[2015-06-01 20:25] joeatwork commented on #224
The short answer is yes, you're right. Mixpanel will try to push events when some timeout has expired (by default, one minute) or when it has more than 40 events in the queue. The timeout can be disabled, the queue depth not so much - to make your scheme useful we'd need to provide a "wants to push" message. This also seems generally useful from a testing perspective!

[2015-06-02 01:12] dbachelder commented on #224
yeah. the `registerFlushReadyListener` callback was my throwaway example for that message.

Would love to see something that enables this usecase in a future version. Thanks for the consideration.

[2015-06-05 01:49] eygraber opened #227 "GCM InstanceID NPE in MixpanelAPI.setPushRegistrationId"
After [migrating to using InstanceID for GCM](https://developers.google.com/cloud-messaging/android/client) I am seeing this stacktrace in my logs:

[code]

I believe this is because the InstanceID token has an unescaped colon (':').

[2015-06-05 03:23] eygraber commented on #227
I see that there is a fix for this https://github.com/mixpanel/mixpanel-android/commit/e851e0077cd1b87a795fad5f8c7fd621985dc6e5

[2015-06-05 03:23] #227 closed

[2015-06-15 17:09] joeatwork commented on #178
Investigators - try this with layouts containing many separate fragments, and investigate the use of SlidingMenuFragmentActivity from https://github.com/jfeinstein10/SlidingMenu

[2015-06-16 06:06] baolongnt opened #230 "In-app notification styling"
Feel free to close the issue if I am wrong but I could not  find anywhere in the docs how to style the in-app notification or implement my own screen. It looks a bit too iOS and it would be better if it uses our fonts and colors.

[2015-06-16 06:40] underscoretang commented on #95
Can we reopen this issue? We're getting quite a bit of these and it's a cause for concern. If it's been addressed, could you point us to commit so we can verify it's in the version of mixpanel were on? Thanks

[2015-06-16 16:24] jeffwatts commented on #95
Are others who are seeing this issue using Crittercism for crash reporting? We switched from Crittercism to Crashlytics a few months ago, and **if Crashlytics' reports are accurate**, then the issue seems to have disappeared. If this is truly the case and not a reporting anomaly, then I wonder if Crittercism's initialization might have something to do with this crash.

[2015-06-16 16:35] joeatwork commented on #95
@underscoretang I'm reopening it - @jeffwatts , thanks for your feedback! Please post here if you see the issue again.

We have a strong suspicion that these errors are caused by settings changed in the global SSL context. Maintainers, consider giving users the ability to provide their own SSLSocketFactory, or otherwise allow optional isolation from the global SSL context.

[2015-06-16 16:59] joeatwork commented on #230
I'd like to leave this issue open - Android has it's own strong design language now, and it would be really nice to be consistent and natural (or even better, allow folks to provide their own branded styles if they wanted.)

[2015-06-16 21:06] joeatwork commented on #95
Thanks to the folks reporting this, I've got what I believe may be a lead! I've posted an EXPERIMENTAL fix to Maven central, you can give it a go by putting

    compile 'com.mixpanel.android:mixpanel-android-experimental:4.6.1-EXPERIMENTAL'

in your build.gradle dependencies. The body of the fix is here:

   https://github.com/mixpanel/mixpanel-android/compare/EXPERIMENTAL-isolate-ssl

If anyone

[2015-06-17 18:20] joeatwork commented on #95
I've got a release-reasonable PRQ that may address this issue in https://github.com/mixpanel/mixpanel-android/pull/231 - we'll likely release this in any case, even if it doesn't fix this particular issue, since it seems like an overall improvement to how the library deals with SSL in the presence of other third party libraries and allows devs more freedom of action in configuring SSL connections

[2015-06-18 21:01] joeatwork commented on #95
I've made a new minor release of the library, version 4.6.1, that may fix this problem. I'm not going to close this issue until I get confirmation - the new release changes how Mixpanel configures it's SSL context in a way that should eliminate problems coming from other libraries. I'd really appreciate feedback if adopting version v4.6.1 solves the problem!

[2015-06-25 22:34] ryanseams opened #233 "Only using tweaks does not send an A/B test event to Mixpanel"
If the only feature of A/B testing I use is tweaks, then there is no data sent to Mixpanel. The A/B testing dashboard is looking for an event called '$experiment_started' with a given 'experiment_id'.

In the library code, it appears this event is sent in the viewcrawler here:
https://github.com/mixpanel/mixpanel-android/blob/e93ed2edc0ffcd2c763d9e35655e9855970611fa/src/main/java/com/mixpanel/andr

[2015-06-25 22:50] ryanseams-mp opened #234 "Initial app open misses A/B test from Mixpanel?"
When I deploy an A/B test for all of my users, I would expect this is delivered on the immediate app open if this test is waiting. During my testing I have found this initial app open does not properly grab the experiment and apply it to the user.

Instead, on the next app background and then open, the test is then applied. This means if I am testing a signup flow on first app open then the test w

[2015-06-26 16:55] joeatwork commented on #234
This is by design. Users can explicitly apply the test using calls to joinExperimentIfAvailable() if they prefer, but otherwise we avoid applying edits as soon as they arrive to prevent UIs from changing out from under the user.

[2015-06-26 16:55] #234 closed

[2015-06-26 17:26] joeatwork commented on #233
Thanks, @ryanseams-mp ! This should be addressed in the next library release.

[2015-06-27 01:52] fred8 commented on #180
Hey @joeatwork,

We still have that issue with the version 4.6.1.
Is that possible to have a fix for it? It's crashing our app pretty often.

Thank you!

[2015-06-28 08:24] tallior commented on #140
Any updates on this? is this planned to be added ?

[2015-06-29 17:24] esdras-gb opened #235 "Public listener to tweaks' updates"
Is there a way to keep listening tweaks' updates? Through  iOS SDK we can use MPTweakBind but I didnt find any class or method to do so using Android SDK. I only found addOnMixpanelUpdatesReceivedListener but it probably works only when I have a people object already setted. In my scenario I have to use Tweaks before the user provides any information and I want update the current view if the user

[2015-06-30 02:08] SleeplessByte opened #236 "Bolts through Facebook SDK is not recognized"
[code]

Proguard is enabled, `Bolts` is being used so probably not obfuscated.

[2015-06-30 16:47] joeatwork commented on #235
I'm afraid we don't have a callback interface in this release other than addOnMixpanelUpdatesReceivedListener/joinExperimentIfAvailable- however, you can register a listener without calling people.identify - you should still get a callback when tweaks are received. We'll likely include a callback interface in a future version of the lib. (in fact, I'm going to promote this to an issue so we can tr

[2015-06-30 16:58] joeatwork commented on #140
We're aware of this, but I'm afraid we haven't gotten it into a release yet. As of now, we're not actively working on this feature (it'll require some new UX for folks sending pushes, and server side tooling in addition to library features, so it's a bit of a lift.)

 More comments and interest (either here, in this pull request, or via Mixpanel support) could help us get to that work sooner. We'd

[2015-06-30 17:08] joeatwork commented on #180
Thanks for the update! We'll need to address the crashes in the next release.

[2015-07-04 15:08] vinod1988 opened #237 "IntDef requires support-annotations library, can't be resolved in Eclipse"
I have imported the mixpanel library successfully on  eclipse, after that i have added the google play services library and clean the project, its showing one error. below package error.

 android.support.annotation.IntDef;

android.support can not resolved error

[2015-07-06 17:01] joeatwork commented on #237
Thanks for reporting this!

1) This is a bug in the library that we should fix! But

2) Here is a workaround- This is a dependency on the Android support-annotations library - if you add it, can you build?

Regardless, this dependency should be removed as long as we support Eclipse builds, but please let us know if you're able to add the support-annotations library and successfully build!

Thanks

[2015-07-17 18:16] fred8 commented on #180
Hi @joeatwork ,

We are keep getting that crash and it's a very important one in our crash report tool. We have hundreds of users that are blocked with this issue -- they can't open the app.
I would very appreciate to get a fix quickly now.

Again, here is the crashlog.

Thank you for your understanding.

Fred

java.lang.OutOfMemoryError
       at java.lang.String.(String.java:432)
       at java.

[2015-07-17 18:23] joeatwork commented on #180
Got it. Just to confirm, you're calling getPeople().identify() on application start up already? You're not calling set() before identify() in the latest version of your code? (Otherwise, the workaround is to only call set() after you identify the people record)

[2015-07-17 18:26] joeatwork commented on #180
@fred8 would you consider reaching out to support@mixpanel.com? We might be able to dig deeper into your code person to person.

[2015-07-17 18:32] fred8 commented on #180
@joeatwork We just updated to the very last version, so I suppose that it hasn't been fixed in 4.6.2, correct?

[2015-07-17 18:41] joeatwork commented on #180
It looks like the crash is during a write, which is a surprise if you're never writing before identify, so it might be good to get in touch with us and see what's going on.

[2015-07-23 14:01] Syzygy2048 commented on #235
Anyone working on this already with a solution on the horizon or do I need to fork the repo?

[2015-07-23 22:53] gastonsanguinetti commented on #178
It´s any update in this case? @joeatwork ,in our app we are using SlidingMenu and a couple of fragments as well.

[2015-07-23 23:07] gastonsanguinetti commented on #178
Update: I've deleted all the codeless events and the performance problem has gone in Android 5! :)

[2015-07-23 23:12] jbwyme commented on #178
@gatonsanguinetti thanks for the update sounds like you've isolated the
issue so we'll dive into it.

On Thu, Jul 23, 2015 at 4:07 PM, gastonsanguinetti <notifications@github.com

[2015-07-24 17:43] alamkanak opened #240 "Problem with rtl layout in version 4.6.0 and later"
Having problem with right-to-left layouts when using versions > 4.5.3. In the screenshot below, the toolbar is supposed to be right to left in both the images but it is left to right when version 4.6.0 is used.

![untitled-1](https://cloud.githubusercontent.com/assets/3194741/8880729/9ceda67c-325c-11e5-9a16-a1591bcceb1b.png)

**Reproduce**
1. Open a new android studio project.
2. [Add rtl support

[2015-07-26 22:42] kaeawc opened #241 "ArrayOutOfBoundsException when using Field.getName"
During initialization the SDK users some reflection [here](https://github.com/mixpanel/mixpanel-android/blob/master/src/main/java/com/mixpanel/android/mpmetrics/ResourceReader.java#L89)

I've observed a couple occurrences where this can result in an ArrayOutOfBoundsException. I have very little insight or understanding of the internals of Art, but it seems like it could be safe to catch that excep

[2015-07-28 15:42] Syzygy2048 commented on #235
I forked and implemented this last week, but only committed it today since I didn't work since then. I'll create a pull request, in the meantime @esdras-gb feel free to use my fork. But I'll probably not maintain it anymore since I'm done with it.

[2015-07-28 17:15] dbachelder opened #243 "android.content.res.Resources$NotFoundException: File res/drawable-xxhdpi-v4/com_mixpanel_android_ic_bell.png"
Frequent exception in production

So far it is 100% Samsung devices running android 4.4.4

[code]

[2015-07-28 17:31] dbachelder commented on #243
this is on version 4.6.2 of the library.

on version 4.5.3 a very similar exception was occuring frequently on samsung 4.4.4 devices:

[code]

[2015-07-28 17:39] dbachelder commented on #243
The only threads with MP code in them at crash time are these:

[code]

and:

[code]

Why is there a "viewcrawler" thread? We are not using the codeless event tracking stuff...

[2015-07-28 18:29] dbachelder commented on #243
Additional info..

proguard rules:
[code]

and we are including the `aar` as our dependency.

The first occurrence of this crash was on 7/18 but it started getting prevalent on 7/22 / 7/23 with the 4.5.3 version of the library even though we had been using it since 4/3

[2015-07-29 21:47] danielgomezrico commented on #33
Why does mixpanel needs the bluetooth permission? what If I don´t add it?

[2015-07-29 21:49] jbwyme commented on #33
We use it to attach whether or not a user has bluetooth enabled on your
events (as well as which bluetooth version). Nothing will happen if you
don't add it except you won't get that data.

On Wed, Jul 29, 2015 at 2:47 PM, Daniel Gomez Rico <notifications@github.com

[2015-07-29 21:55] yihuaqi opened #245 "Error building with mixpanel 4.6.+"
When I upgrade the mixpanel from 4.5.3 to 4.6.2, I got the following error message in proguard:

Warning:com.mixpanel.android.mpmetrics.Tweaks: can't find referenced class com.mixpanel.android.mpmetrics.Tweaks$TweakType
Warning:there were 1 unresolved references to classes or interfaces.
         You may need to add missing library jars or update their versions.
         If your code works fine wi

[2015-07-29 22:24] danielgomezrico commented on #33
:+1: thanks

[2015-07-29 22:31] danielgomezrico opened #246 "Why add GCM lib if not using push notifications"
Hi

I´m using proguard and I get if I add only `compile "com.mixpanel.android:mixpanel-android:4.6.2"` as dependency it says:
[code]

Why should I add
[code]

If I´m not going to use push notifications?

[2015-07-29 22:41] danielgomezrico commented on #246
After adding these lines in my proguard file:
[code]
it prints:
[code]

[2015-07-29 23:01] danielgomezrico commented on #195
I´m using parse and 'compile 'com.parse.bolts:bolts-android:1.2.1' but the error continue

[2015-07-30 23:28] justincpollard opened #248 "Only include those google play services that are required"
Right now you include the following in your `./mixpanel-android/build.gradle`:

[code]

However, if Mixpanel does need to include some of Google Play Services, it can do so more granularly, for example:

[code]

I'm not sure if using open ended versioning (i.e. [3.1,) ) affects your ability to do this, but it might be good to specify Mixpanel's requirements explicitly.

[2015-08-02 00:40] justincpollard commented on #243
A little update here: we updated some of your dependencies (encapsulated in pull request #247) and removed all unused drawable resources in our fork of this repo (https://github.com/mixpanel/mixpanel-android), then released a version of our app pointed to that fork. So far, with pretty significant usage, we haven't seen any of these crashes on that version of our app.

[2015-08-06 21:58] Digisha opened #251 "android.os.BadParcelableException: Unable to start activity ComponentInfo{com.mixpanel.android.surveys.SurveyActivity}"
Hi,

Mixpanel SDK: 'com.mixpanel.android:mixpanel-android:4.5.3'

Our app crashes with the following stack traces.

[code]

[2015-08-17 18:50] jaydeep17 commented on #248
+1

[2015-08-19 15:40] pepos opened #253 "Can't write track_message to server"
Hi, I tried to implement library version 4.6.x on my Android app. First call to MixpanelAPI.track is working but the next calls are giving me the next error:

[code]

The version 4.5.3 is working like a charm. No errors.

[2015-08-19 16:00] dbachelder commented on #253
I keep meaning to log this as well.. happens quite frequently.

[2015-08-21 20:37] dbachelder commented on #253
The view crawler should have a meta option to disable.

[2015-08-21 20:48] dbachelder commented on #253
We have resorted to reflection to avoid the performance hit and log noise.

[code]

[2015-08-21 21:41] pepos commented on #253
Thank you @dbachelder, this workaround is working with the last version (4.6.3)!

[2015-08-24 15:31] lnanek commented on #251
Seeing the same problem with 4.6.0:

[code]

[2015-08-25 13:41] AndroidGecko opened #255 "order of events is not guaranteed if they are send within same second?"
I have a list of events that I would like to iterate and send them to mixpanel.
When I iterate and on each iteration I run track(eventName) and look at live view in mixpanel as they come through they are out of order. When I place a delay 1000ms between each track call it seems fine.

UPDATE
Looking at how the "time" property is implemented
https://github.com/mixpanel/mixpanel-android/blob/929906e

[2015-08-25 18:53] ryanseams commented on #240
thanks for bringing this up @alamkanak! i confirmed this issue is occurring in 4.6.+ versions of the library and traced this back to [these commits](https://github.com/mixpanel/mixpanel-android/compare/d643e71630d10287d552f0ee3a1db1774ba489ec...cafd08f9856a9df6c127fb78719c4d884ee4535e)

so sorry about this -- it would appear some commits which were thought to be minor caused unintended effects on

[2015-08-25 19:40] ryanseams commented on #255
thanks for writing this up @AndroidGecko! your intuition here is correct -- when events are sent to mixpanel with the same timestamp the order of the events is nondeterministic.

in general, this will not affect your reporting other than seeing the events out of order -- your reports will still reflect accurately for funnels, retention, etc. we intentionally use fuzzy logic to add a 2 second grace

[2015-08-26 06:32] maxme opened #256 "Replace setLatestEventInfo call in GCMReceiver.java"
There is a reference to `setLatestEventInfo` in [`GCMReceiver.java`](https://github.com/mixpanel/mixpanel-android/blob/ca5c0d9e74217c6d5ce5e9afa58397c5d1346a14/src/main/java/com/mixpanel/android/mpmetrics/GCMReceiver.java#L261) that must be replaced, because [Android API 23 removes that method](https://developer.android.com/sdk/api_diff/23/changes/android.app.Notification.html).

[2015-08-26 07:23] AndroidGecko commented on #255
Thanks @ryanseams !
Just to be sure I understand this. If I invoke track(eventName) 5 times within one second with events in order A - B - C - D - E
and see them in "Live View" E - A - C - B - D
it means that if I set up a funnel A -> E
this user will show up?

[2015-08-26 07:30] ngheungyu commented on #253
same error for me, it's better to support disabling ViewCrawler. Thanks @dbachelder for the workaround.

[2015-08-26 15:07] ryanseams commented on #255
hi @AndroidGecko ! you are correct that if the timestamps for each event are within one second then the user would show up in a funnel A -> E.

since this two second window would apply to each event, sending all 5 events with timestamps within the same second means any combination of two of these events would produce a conversion within the funnel. for example, both A -> E and E -> A would show as

[2015-08-26 17:57] AndroidGecko commented on #255
thanks @ryanseams for the explanation, really useful

[2015-08-27 09:57] maxme commented on #256
Oops, I just noticed `@TargetApi(9)` - Closing this!

[2015-08-27 09:57] #256 closed

[2015-08-31 08:08] reemsherman commented on #240
haaaaaaaaaaaaaaaaaaaaaaaa!
I just spent at least a full day work on this. @alamkanak - thank you so much for this. You just saved my week!

[2015-08-31 17:41] yinfeiru commented on #233
Addressed in 4.6.2

[2015-08-31 17:41] #233 closed

[2015-08-31 17:43] yinfeiru commented on #255
Closing this.. Please re-open if you have further questions.

[2015-08-31 17:43] #255 closed

[2015-08-31 20:26] carlospaulino opened #257 "NPE when trying to display take-over in-app message"
When trying to manually display a take-over in-app notification, I get a NPE.

    mixpanelAPI.getPeople().showNotificationIfAvailable(theActivity);

The problem is in the following line

    getPeople().withIdentity(getDistinctId())

in com.mixpanel.android.mpmetrics.MixpanelApi.PeopleImpl#trackNotificationSeen(InAppNotification)

See stack trace:

    java.lang.RuntimeException: Unable to start

[2015-09-01 13:51] pkouretas opened #258 "Mixpanel user has received thousands of surveys"
One of our users has received(?) 21K surveys, and has replied 19K times, according to the mixpanel dashboard. That obviously cannot be correct. What's happening here?

Responses: 19429
SignUpDate: 1413483444
Surveys Received: 21663

[2015-09-01 16:43] ryanseams commented on #258
hi @pkouretas thanks for bringing this up!

the numbers you are actually viewing here are the survey id and response group id for the user -- this is not the number of times the user has seen the survey or the number of responses they have provided.

if the user was sent another survey, you would also see the id for this survey and response group here. these properties are lists which will be appe

[2015-09-01 20:18] #257 closed

[2015-09-02 12:59] bryant1410 opened #259 "Detect package ID when using a build variant with different applicationId"
I have a flavor (from "productFlavors") in Gradle which changes de applicationId. So I need to add this in `AndroidManifest.xml` in order to recognize R class:

[code]

I think it'd be better if the library can detect these cases.

[2015-09-09 18:29] niftynei opened #260 "Updating MixPanel breaks negative padding in Toolbar"
I'm using a complex drawable type for the app icon in the toolbar.  Updating the mixpanel APK from `4.5.3` to `4.6.4` breaks the NavigationButtonStyle padding (it's set to a negative number).

Style for my navigation button:
[code]

Drawable layout:
[code]

With `4.5.3`
![screenshot_2015-09-09-21-20-30](https://cloud.githubusercontent.com/assets/1097769/9770539/a0ff4470-56fe-11e5-83e6-2e1a5b18b5f5

[2015-09-10 04:42] danielgomezrico opened #261 "event_binding is dead"
I cant make it load my views with the gesture anymore.

Why?

[2015-09-11 07:19] sudam-chavan opened #262 "Unable to start receiver com.mixpanel.android.mpmetrics.InstallReferrerReceiver"
Stacktrace:

java.lang.RuntimeException: Unable to start receiver com.mixpanel.android.mpmetrics.InstallReferrerReceiver: java.lang.IllegalArgumentException: Invalid % sequence %+o at 28
       at android.app.ActivityThread.handleReceiver(ActivityThread.java:2258)
       at android.app.ActivityThread.access$1500(ActivityThread.java:134)
       at android.app.ActivityThread$H.handleMessage(Activity

[2015-09-14 14:04] epool opened #263 "Android Mixpanel exception in application opening"
I am getting the following exception in some cases, not always. This happen when my application is opened, this is very rarely and my application crashes, I need help to know why this could be happening. In advance thanks!

    09-14 08:27:26.466  12986-13051/com.app.kuona E/CursorWindow﹕ Failed to read row 0, column 0 from a CursorWindow which has 0 rows, 3 columns.
    09-14 08:27:26.499  12986-

[2015-09-14 19:36] pguilbot opened #264 "Memory leak"
Hi,

After some investigation on my app, I have detected an huge memory leak coming from Mixpanel (see attached pictures).
For the moment I have no idea where it comes from but it appear as soon as I call :
`MixpanelAPI.getInstance(my_context, MIXPANEL_TOKEN);`

The android studio allocation tracker confirms that it comes from the Mixpanel package.

Following my investigation :
- If I call the flu

[2015-09-16 17:50] chandrasc opened #265 "Issue when running on local machine"
In the development environment, running the app in emulator crashes due to the below error:

6303-6320/com.areuin.uin E/MixpanelAPI.ViewCrawler﹕ Error parsing URI wss://switchboard.mixpanel.com/connect/XXX for editor websocket
    java.net.URISyntaxException: Illegal character in path at index 39: wss://switchboard.mixpanel.com/connect/"123"
            at libcore.net.UriCodec.validate(UriCodec.ja

[2015-09-17 16:42] yinfeiru commented on #264
Thanks for letting us know and digging into the problem!! I haven't looked at our code yet, but here're some thought I have:
1. I don't think this behavior should be categorized as memory leak, as you are able to garbage collect the memory by calling flush method. So, it isn't actually leaking, we still keep track of them in some way. But you brought up a good question here - the memory usage is h

[2015-09-17 16:45] yinfeiru commented on #265
Thanks for writing in!

Can you please provide me more details? Is it crushing in the same way on a real device? Are you sure your emulator has internet connection? What was the device you were emulating? What's the lib version?

[2015-09-17 16:55] yinfeiru commented on #263
Thanks for writing in!!

What I'm really curious about is `CursorWindow`. I don't think it's part of our library and looks like it's related to your database.
From the log `Failed to read row 0, column 0 from a CursorWindow which has 0 rows, 3 columns.`, I guess the problem is that you are accessing a row which doesn't exist. And then Mixpanel gets mad as it can't access it.

Please let me know yo

[2015-09-21 17:57] kwikgoal opened #266 "Collection Objects Result in String JSON Values"
When creating JSON from a Collection, the resulting property value is not a JSONArray.

Assuming I had property called "myproperty" and the Object backing it was a List Java type, the JSON used to be dumped like this (our last version was 2.2 of the Android library):

"myproperty_l": ["abc", "123"]

I assume the 'l' appended to the end meant a list value.

Now that same value is output like this (

[2015-09-28 21:20] epool commented on #263
The `android.database.CursorWindow` class appears to be from Android. The log from mixpanel did not crash my application. Finally I fond the reason of my `Fatal signal 11 (SIGSEGV)`, this was caused by serialize `android.location.Location` with [Gson](https://github.com/google/gson) and on deserialize this was causing the error in some cases.

[2015-09-28 21:20] #263 closed

[2015-09-29 09:53] tirumaraiselvan commented on #97
Is this ongoing or do we refer to the accepted solution here: http://stackoverflow.com/questions/21137286/what-should-i-do-when-users-log-out

[2015-09-30 21:30] arittr commented on #264
@yinfeiru we do not release the memory used to hold .track calls before the .flush() - this will stick around until GC runs (or, less optimally, is called manually). can you take a look?

[2015-10-02 19:01] arittr opened #268 "Android M removes the Apache HTTP client in favor of HttpURLConnection"
Android M (to be rolled out in the next few weeks) deprecates the Apache HTTP client (now org.apache.http.legacy) in favor of the HttpURLConnection class (which is supposedly more efficient anyway).

http://developer.android.com/about/versions/marshmallow/android-6.0-changes.html#behavior-apache-http-client
http://developer.android.com/reference/java/net/HttpURLConnection.html

We need to either 1

[2015-10-02 19:03] arittr opened #269 "Notification.setLatestEventInfo is deprecated"
We have some Notification-related methods for low API numbers that are deprecated ( https://github.com/mixpanel/mixpanel-android/blob/7f310bf93998f5932ebdfc717cbcdcf384677423/src/main/java/com/mixpanel/android/mpmetrics/GCMReceiver.java#L261 ) - we need to decide if we 1) want to drop support for API11 or 2) continue using the deprecated methods or 3) use alternative methods to get the job done.

[2015-10-06 15:35] folkyatina commented on #192
Met this bug too.
Survey is already marked as seen when you retrieve it using getSurveyIfAvailable() and can't be shown using showSurveyById() as it checks if it's already seen.
But deprecated showSurvey() still works as intended.

[2015-10-06 17:51] yinfeiru commented on #268
@arittr Thank you for being on top of this! I'm feeling really guilty that I didn't know Android M is coming out.
Fortunately, we don't have to do anything to this. We have a utility class called HttpService which does all the Http related stuff in the lib. And this class uses HttpURLConnection.
[code]
@joeatwork great work (if you can see this)!

[2015-10-06 17:55] tomxor commented on #268
@yinfeiru there are still some dependencies on the legacy package, specifically on `NameValuePair` and `BasicNameValuePair`.

example:
https://github.com/mixpanel/mixpanel-android/blob/ca5c0d9e74217c6d5ce5e9afa58397c5d1346a14/src/main/java/com/mixpanel/android/mpmetrics/AnalyticsMessages.java#L20-L21

[2015-10-06 18:11] yinfeiru commented on #268
@tomxor you are right! I'll reopen and handle them. THANK YOU!

[2015-10-06 18:20] joeatwork commented on #268
Thanks for the shout-out, @yinfeiru !

[2015-10-06 18:25] SleeplessByte opened #270 "Reserved/Special properties documentation incomplete"
[Special/Reserved properties](https://mixpanel.com/help/questions/articles/special-or-reserved-properties)
[Default properties](https://mixpanel.com/help/questions/articles/what-properties-do-mixpanels-libraries-store-by-default)
[People JavaScript Setup](https://mixpanel.com/report/762961/setup/people/)
[People Android Setup](https://mixpanel.com/help/reference/android#creating_profiles)

Great i

[2015-10-06 21:23] arittr commented on #268
thanks @yinfeiru @joeatwork

[2015-10-06 21:29] ryanseams commented on #270
hi @SleeplessByte thanks for writing this up!

in regards to the ```$created``` and ```$last_login``` people properties, the only list these would fall under is the [Special/Reserved properties](https://mixpanel.com/help/questions/articles/special-or-reserved-properties) as they are not defaultly sent by our libraries and are simply used for maximum readability and notification targeting within th

[2015-10-06 23:13] SleeplessByte commented on #270
@ryanseams Great.

I also think you should link to those documents in the setup pages :)

[2015-10-07 00:40] ryanseams commented on #270
thanks for the suggestion -- while this one is a larger change i cant guarantee will happen, it will certainly be taken into consideration by our product team!

[2015-10-09 23:50] arittr commented on #268
@yinfeiru any status updates here?

[2015-10-14 13:04] bricestacey commented on #269
This popped up for me today while upgrading play services to 8.1.0 from 7.8.0. It's blocking builds with an error. Do you know of any immediate workarounds or how timely a fix would be? I am on mixpanel 4.6.3.

[2015-10-15 22:59] philippelaporte commented on #268
Guys it's been almost two weeks, this thing must come out by noon tomorrow!

[2015-10-21 05:40] kraizman commented on #211
Hello, any chance for fix? I just release new version of app with mixpanel 4.6.4 and start getting this issue. Mixpanel is now in top 10 crashes.I didn't find scenario when this crash happens but people in production fall in this issue. Between someone mention that this happen on reset of MixpanelAPI. I do not explicitly call any reset.

[2015-10-21 15:55] bsmith42 commented on #257
This was closed but no comment on how it was addressed.  I have auto set to true and this started happening after upgrading to 4.6.4.  Seems like some additional checks need to be made to avoid this.
[code]

[2015-10-22 16:57] yogurtearl opened #272 "Incompatible Gradle wrapper."
The gradle wrapper is version 2.4, but the Android plugin in version 1.1.0.

You need at least android plugin version 1.2.0 if you are going to run gradle 2.4.

Please upgrade the Android plugin version to something newer ( e.g. 1.3.1 ).

[2015-10-22 16:59] yogurtearl opened #273 "Hard coded Android sdk path"
run.sh hard codes an SDK path.

```ANDROID_SDK_DIR=~/Library/Android/sdk/```

instead it should honor ANDROID_HOME and fail if ANDROID_HOME is not set.

https://github.com/mixpanel/mixpanel-android/blob/ca5c0d9e74217c6d5ce5e9afa58397c5d1346a14/acceptance/run.sh

[2015-10-22 17:09] yogurtearl opened #274 "Unable to get Acceptance tests to pass"
I am not able to get the selendroid tests to pass. I am getting this error:

( On Genymotion API 23 )

[code]

[2015-10-22 17:23] yogurtearl opened #275 "Drop support for building from Eclipse"
https://github.com/mixpanel/mixpanel-android/blob/ca5c0d9e74217c6d5ce5e9afa58397c5d1346a14/src/main/java/com/mixpanel/android/mpmetrics/MPConfig.java

[code]

I suggest dropping support for building from Eclipse.

[2015-10-22 20:39] yogurtearl opened #276 "Add an option to disable ViewCrawler"
On Mixpanel 4.5+, there is a ViewCrawler the periodically processes messages on the main thread.
ViewCrawler is needed for these features to work:
* Web Configuration
* A/B Testing
* Dynamic Tweaks.

But if you are not using those features, there is no reason to incur the performance hit of having extra things run on your main thread.

Please add the ability to disable ViewCrawler ( for those that

[2015-10-23 19:53] yinfeiru commented on #268
4.7-RC2 will support Android M

[2015-10-26 17:02] yinfeiru commented on #268
Re-open this as the lib we added doesn't have a license..

[2015-10-27 22:17] yinfeiru commented on #268
The master branch now supports Android M. Please check out the v4.7.0 release.

[2015-10-27 22:17] #268 closed

[2015-10-28 17:21] mbmc opened #279 "Context WeakReference"
Shouldn't context be stored as `WeakReference` in this [`Map`](https://github.com/mixpanel/mixpanel-android/blob/master/src/main/java/com/mixpanel/android/mpmetrics/MixpanelAPI.java#L2110)?

[2015-10-28 20:41] yogurtearl opened #280 "Setup up a Gitter chatroom for this repo"
If you login to https://gitter.im/ you can setup a chatroom, so we can discuss issues, PRs, etc

Chatroom should be here, after you create it.
https://gitter.im/mixpanel/mixpanel-android

[2015-10-29 11:32] nitiwari-dev opened #281 "Android trackCharge() properties not listed into revenue"
I'm sending revenue info to mixpanel using below snippet.

[code]
Cannot find the property **paymentId** into revenue tab ? Any answer is appreciated.

[2015-10-29 14:31] ryanseams commented on #281
hi @nitiwari-dev thanks for writing in with this!

when sending a ```mixpanel.getPeople().trackCharge()``` call to Mixpanel, the properties included on the call will not actually be visible within the UI -- these properties will only be available when you export the raw data.

instead, in order to see the properties you wish to segment the revenue tab by, you should send people properties to the s

[2015-10-29 22:48] dbachelder commented on #243
Looks like this is related to this: https://code.google.com/p/android/issues/detail?id=79325

[2015-10-30 07:50] nitiwari-dev commented on #281
Thanks @ryanseams this was useful.

[2015-11-02 11:35] darkovski88 opened #282 "Not showing users in people->explore from android"
Hello,
I'm trying to integrate mixpanel into my android app - but im having a small issue. It seems everything is added as it should. Events are tracked but I cannot see the users that login to my app. Its working from the ios app but android there are some troubles. Here is the code im using:
<code>
 public void mixpanelSendData(String eventName) {
        mixpanel = MixpanelAPI.getInstance(this,

[2015-11-02 21:44] cassiegamm commented on #282
Hi @darkovski88,

Solid question! Events and People are separate entities, which means you'll need to add additional code to create people profiles.

You'll want to use the ```getPeople().identify()``` method in tandem with ```getPeople().set()``` to create people profiles for android users. Relevant documentation and examples can be found [here](https://mixpanel.com/help/reference/android#creatin

[2015-11-10 00:15] ryanseams opened #284 "Crash when trying to display in-app as activity is stopped"
In this scenario, the user is trying to display an in-app notification (specifically a mini version) and is experiencing a crash. This exception is occurring because the Mixpanel SDK attempts to render an in-app notification as the app goes to the background.

Due to the way Android manages activities, the activity is actually stopped before the in-app attempts to render, resulting in an [illegal

[2015-11-10 00:53] changxiangzhong opened #285 "FlushInterval not working for release build"
Thank you so much for making this project.

But we have experienced an issue. We have use the configuration option `com.mixpanel.android.MPConfig.FlushInterval` in the AndroidManifest.xml. We have set it to 1.

It works fine for DEBUG build, but not RELEASE build - it seems like the value doesn't work for release build

[2015-11-23 23:01] Nivl commented on #253
Same issue on 4.7, @dbachelder workaround is still working.

[2015-11-26 09:13] Momepukku commented on #117
Hi, I am also getting the same error. I'm using v4.6.4.
I have attached the trace(From crashlytics)

[code]

[2015-11-29 15:10] jiri-hlt opened #286 "FadingImageView - ClassCastException"
Fatal Exception: java.lang.ClassCastException: android.widget.RelativeLayout cannot be cast to android.widget.LinearLayout
       at com.mixpanel.android.surveys.FadingImageView.onMeasure(FadingImageView.java:46)
       at android.view.View.measure(View.java:17624)
       at android.widget.RelativeLayout.measureChildHorizontal(RelativeLayout.java:728)
       at android.widget.RelativeLayout.onMeas

[2015-11-29 15:13] jiri-hlt commented on #286
com.mixpanel.android.surveys.FadingImageView.onMeasure(FadingImageView.java:46)
should just be casted to ViewGroup:
[code]

[2015-11-30 16:47] joeatwork commented on #117
@Momepukku you may want to open another issue (this one is quite old, and they may not share the same root cause) (cc @yinfeiru )

[2015-12-03 02:24] ryanseams opened #289 "In-apps and Surveys delivered repeatedly with Adblocker enabled"
When a user enables AdBlocker, it points Mixpanel URLs to localhosts, such as a mapping like the below for the AdBlocker 'AdAway':

127.0.0.1 mixpanel.com
127.0.0.1 www.mixpanel.com
127.0.0.1 api.mixpanel.com

That being said, this only blocks data going out to Mixpanel, not data being utilized by the SDK itself. In this scenario, the AdBlocker does not block decide.mixpanel.com, causing there to

[2015-12-03 09:03] assizic commented on #178
Any progress with this issue? We've been seeing it as well when using MixPanel with version > 4.5.3.

[2015-12-06 03:18] ryanjohns commented on #289
This is a real problem. We have received numerous complaints from pissed off users about notifications and surveys that continuously come back no matter how they dismiss them. All have been traced back to this exact issue. Ad blockers are increasingly more common on Android and whenever there is an intersection between a user with an ad blocker and a mixpanel notification/survey, it will result in

[2015-12-08 14:27] pavel-kurnosov commented on #286
When this will be released? I got a lot of issues on Crashlytics with same issue...

[2015-12-09 13:06] jayeti commented on #207
I have the same problem. Any updates when it would be fixed?

[2015-12-09 14:10] zawadz88 commented on #207
+1

[2015-12-09 18:47] rajuashok commented on #248
Yes please this would be great. In general I cant find any explanation as to what MixPanel is doing with gms (other than "improved push notification support"). What is MixPanel doing with pushes?

[2015-12-09 19:47] martinvano commented on #248
@rajuashok check this: https://mixpanel.com/help/reference/android
You should only need
    compile 'com.google.android.gms:play-services-gcm:8.3.0'
    compile 'com.google.android.gms:play-services-base:8.3.0'

[2015-12-15 00:01] skyisle opened #291 "A/B Testing is not activated via flip gesture on M"
After short investigation, calculated totalGravitySquared on FlipGesture class is always out of range.

[2015-12-17 11:43] RomainPiel commented on #180
I just noticed this issue in our instrumentation tests. We're using version 4.7.0. Has this been fixed?
[code]

[2015-12-17 17:04] joeatwork commented on #180
This sort of issue often rises when you call set() & friends without identifying the user first - the library tries to fix things by storing up all of your changes. The best fix for this issue is to always call identify() before setting people properties.

[2015-12-18 10:19] RomainPiel commented on #180
`identify()` is definitely happening before `getPeople().set()`, that's part of our initialisation:
[code]

[2015-12-18 17:39] ryanseams commented on #180
thanks for jumping in here @joeatwork and shedding some light on this issue.

@RomainPiel one thing I noticed is that in your code you use ```sharedMixpanelAPI.identify()```, however, the identify which actually flushes these calls (and prevents against this crash) is ```sharedMixpanelAPI.getPeople().identify()```.

other reports of this crash are instances where ```getPeople().identify()``` is co

[2015-12-18 17:54] RomainPiel commented on #180
Thanks for the explanations @ryanseams I'm not sure to understand the fix, should I replace the `identify()` by `getpeople().identify()`? Does it do the same thing at the end?

[2015-12-18 21:29] ryanseams commented on #180
hi @RomainPiel -- ```identify()``` is used to set the user's distinct id for their events, whereas ```getPeople().identify()``` is used to set the user's distinct id for their profile as well as send any queued waiting people updates on the device.

as the crash is occurring when you are trying to add another people update to the queue on the device, you would want to call ```getPeople().identify(

[2015-12-19 09:04] RomainPiel commented on #180
OK cool, I'll have a closer look at out requirements after my Christmas vacations. Thanks for your help!!

[2015-12-28 10:45] fabiocarballo commented on #284
Any update on this issue? This is causing a huge number of crashes on our app.

[2015-12-30 10:34] fabiocarballo opened #295 "Error with InAppFragment"
Fatal Exception: java.lang.IllegalStateException: Can not perform this action after onSaveInstanceState
       at android.app.FragmentManagerImpl.checkStateLoss(FragmentManager.java:1323)
       at android.app.FragmentManagerImpl.enqueueAction(FragmentManager.java:1341)
       at android.app.BackStackRecord.commitInternal(BackStackRecord.java:597)
       at android.app.BackStackRecord.commit(BackS

[2015-12-30 17:21] ryanseams commented on #295
Hi @fabiocarballo thanks for reporting this!

It looks like this is the same crash as https://github.com/mixpanel/mixpanel-android/issues/284? If you can provide additional test conditions around how this is reproduced from your end (different than those in the above issue) that would be awesome so we can look into this further.

[2015-12-30 17:51] fabiocarballo commented on #295
Hey @ryanseams ! I think it should be related to #284 . However, I have been trying to reproduce this without success. I just have this information due to be using Crashlytics on our app. As in the other issue it should be caused when displaying a notification on activity that is not on top of the stack

[2016-01-03 09:56] SeanZoR commented on #151
Nice, Thanks! I also recommend calling 'flush' to make sure you send all your events before clearing.

[2016-01-04 14:08] RomainPiel commented on #180
Looks like calling `getPeople().identify()` before `getPeople().set()` fixes the issue, thanks! This sequence of instructions is not really obvious, maybe `getPeople().set()` should throw an exception if `getPeople().identify()` was not called before?

[2016-01-04 18:25] ryanseams commented on #180
you do not have to call ```getPeople().identify()``` if you wish to only queue an update to Mixpanel. this is helpful when you wish to track data on a guest before they create a profile so that when you do call ```getPeople().identify()``` their profile has historical information included.

that being said, over time as you make more and more updates, the queue will fill up and this crash can occu

[2016-01-07 01:58] mlostekk opened #296 "Android 5 permission issue (duplicate permission RECEIVE)"
Hello out there, i am fine with mixpanel with each version, but not Android 5.

I am using the permissions like that (in order to get it running on 6)

    <permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

But here i get the following error during installation

    INSTALL_FAILED_DUPLICATE_PERM

[2016-01-07 02:15] ryanseams commented on #296
hi @mlostekk thanks for writing in! it looks like [this issue](http://stackoverflow.com/questions/27043933/install-failed-duplicate-permission-c2d-message/27456355) commonly happens on Android 5.x when updating an existing app and not installing a new version of the app.

can you confirm this error is on an upgrade of the current app and not a new install? if so, do you mind going to Settings > Ap

[2016-01-07 02:18] mlostekk commented on #296
well, sorry for asking so fast..

but i played around with it and see that when i use *only* the ```<uses-permission>``` tag, then it works fine on android 4, 5 and 6.

[2016-01-07 02:18] #296 closed

[2016-01-07 02:19] mlostekk commented on #296
oh, and yes i did try uninstalling, cache clearing all that stuff

[2016-01-07 02:19] ryanseams commented on #296
no worries! the ```<permission android:name="com.google.android.c2dm.permission.RECEIVE"/>``` is for older API levels, so if you are not supporting these in your app anyways you should be fine removing this tag

[2016-01-07 02:21] mlostekk commented on #296
ah okay. i thought its needed for the manual permission request on android 6. seems i have to read that doc :)

thanks!

[2016-01-07 02:26] ryanseams commented on #296
feel free to let me know if you run into any problems with this approach as you implement!

[2016-01-07 08:05] rejasupotaro commented on #240
Is it fixed? I'm in trouble with a similar problem...

RTL would be disabled when I call `MixpanelAPI.getInstance`.

<img width="512" alt="screen shot 2016-01-07 at 16 54 31" src="https://cloud.githubusercontent.com/assets/883148/12165218/61e7bffa-b55f-11e5-9cce-8a76a7703e3a.png">

The library version is 4.7.0. Minimum sample project is here: https://github.com/rejasupotaro/RtlWithMixpanel

[2016-01-07 17:45] ryanseams commented on #240
hi @rejasupotaro! this issue is not fixed so the current workaround is still as mentioned above:

"in the meantime while we find a fix for this, you can use the following version in your project to use RTL with A/B testing (note this does not contain any bug fixes since v4.6.0 was released):
compile ```'com.mixpanel.android:mixpanel-android:4.5.4-RC2'```"

[2016-01-08 00:27] rejasupotaro commented on #240
Ah, okay. I will use v4.5.4-RC2 for now. Thank you for your quick reply :beers:

[2016-01-11 13:33] martyglaubitz opened #297 "Handle SSL Timeout Exceptions"
We're getting a lot of weird Exceptions in our live app

    Fatal Exception: java.util.concurrent.TimeoutException: com.android.org.conscrypt.OpenSSLDigestContext.finalize() timed out after 10 seconds
       at com.android.org.conscrypt.NativeCrypto.EVP_MD_CTX_destroy(NativeCrypto.java)
       at com.android.org.conscrypt.OpenSSLDigestContext.finalize(OpenSSLDigestContext.java:27)
       at java.

[2016-01-11 13:35] martyglaubitz commented on #297
turns out the problem seems to originate from somewhere else...

[2016-01-11 13:35] #297 closed

[2016-01-16 02:44] sushiisumii opened #298 "Won't Compile with other 3rd Party Libraries if minSdk do not match"
By including <code>tools:ignore="GradleOverrides"</code> in the AndroidManifest.xml file, this makes the use of the <code>tools:overrideLibrary</code> attribute impossible.

For example, if another 3rd party library has a <code>android:minSdkVersion="16"</code> but our main app has a minSdk of 10, you can use

    <uses-sdk android:minSdkVersion="10"
    tools:overrideLibrary="com.example.lib" />

[2016-01-19 20:05] ryanseams opened #299 "Tweaks not applying if not included in Application or MainActivity classes"
When Mixpanel applies a Tweak, it does so by searching only the current class. If I define my Tweak in the Application class or my MainActivity, everything works as expected and Mixpanel applies the correct value as it is automatically fetched from the server.

If I instead define my Tweak outside of these classes, for example in a new class which does not inherit MainActivity, the Tweak will be r

[2016-01-20 01:26] yinfeiru commented on #39
This won't be fixed -
1. You have to modify the library and re-build it anyway (since you have to change the endpoint url)
2. The requests are sent to our Mixpanel servers which don't support custom headers
3. Not a lot of users need this feature
4. One line change doesn't seem to be too crazy to me

I'll leave this open for now and close it in a few weeks if no one else asks for it.

[2016-01-20 01:46] yinfeiru commented on #57
@jnagels I know it's been a long time.. Trying to follow up on this. Why do you think such info is useful? I might be missing something here. But, if a user is not connecting to both of wifi and mobile network, Mixpanel won't receive any data. So, if `$wifi` is false, you can assume the user is on mobile network.

[2016-01-20 09:14] jnagels commented on #57
@yinfeiru When offline, we cache the events and send them when the device is back online. So it's interesting to see which events happen offline vs online.

[2016-01-20 19:28] yinfeiru commented on #39
Actually, since this one is from 2013, I'll close it now. Please create another one if needed.

[2016-01-20 19:28] #39 closed

[2016-01-20 20:46] yinfeiru commented on #57
@jnagels it's legit. will do.

[2016-01-20 21:47] yinfeiru commented on #299
This could be an interesting feature down the road, but I don't think we are going to do it for now since:
1. there's an easy workaround
2. not an actual bug
3. not a lot of people asking for it

I've put this feature request in our internal tracking system and I'll close this for now. Please re-open if there's a bigger demand.

[2016-01-20 21:47] #299 closed

[2016-01-20 22:19] yinfeiru commented on #284
@fabiocarballo sorry about the late. I'm investigating this bug right now and will get back to you shortly.

[2016-01-21 13:51] imrihe commented on #240
we also encounter the issue - please fix

[2016-01-21 13:59] nadavfima commented on #240
same here :(
went back to V4.5.4 for now

[2016-01-22 00:44] yinfeiru commented on #295
@fabiocarballo Sorry for the late response. Are you still having this issue? If so, please let me know
1. the library version
2. the Android OS version that this failure happens on

More context about this crash:
When the user goes from one activity to another, our library tries to remove all the pending fragment transactions by calling `InAppFragment.cleanUp`. It does so by doing https://github.c

[2016-01-22 22:00] yinfeiru commented on #289
This sounds a serious problem. I'll make sure to look into it shortly.

[2016-01-22 22:01] yinfeiru commented on #286
Closing this as it's been fixed in #288

[2016-01-22 22:01] #286 closed

[2016-01-22 22:02] yinfeiru commented on #286
@pavel-kurnosov a new release will probably be available in a week.

[2016-01-22 22:11] yinfeiru commented on #285
I don't think we support arbitrary flush interval in production. https://github.com/mixpanel/mixpanel-android/blob/master/src/main/java/com/mixpanel/android/mpmetrics/MPConfig.java#L264

Though there must be a good reason behind this, I don't know the full context. However, what I do know is that setting it to 1 sec (assuming you didn't mean 1 milliseconds which is really bad) will lead to a high

[2016-01-22 22:13] yinfeiru commented on #285
@changxiangzhong
I'll close this ticket as the behavior is expected. Please let me know if you do need this feature and explain your usage case.

[2016-01-22 22:13] ryanseams commented on #289
@yinfeiru to add some additional color, this type of Ad Blocker requires that you root your device... So you will not be able to reproduce this on any Android device.

If we are not going to support issues like this on rooted devices, then this can likely be closed. If there is any way for this to happen without modifying the hosts file (which the rooted device does), we should definitely find a f

[2016-01-22 22:15] yinfeiru commented on #282
@darkovski88
Closing this. Please re-open if you still can't figure it out.

@cassiegamm thanks!

[2016-01-22 22:15] #282 closed

[2016-01-22 22:16] yinfeiru commented on #281
Closing

[2016-01-22 22:16] #281 closed

[2016-01-22 22:17] patedit commented on #285
It works on debug builds because the default flush interval on debug is 1 second https://github.com/mixpanel/mixpanel-android/blob/master/src/main/java/com/mixpanel/android/mpmetrics/MPConfig.java#L171

And it should work on non debug builds as well since this parameter is customizable through `com.mixpanel.android.MPConfig.FlushInterval`. Re-opening.

[2016-01-22 22:19] yinfeiru commented on #280
Thanks for the suggestion! However, we are not going to do it for now as Github is sufficient. I'll keep it in mind in case we do need something similar.

[2016-01-22 22:19] #280 closed

[2016-01-22 23:02] yinfeiru commented on #285
Well.. @patedit you are totally right (and I don't know what I was talking about).

@changxiangzhong I've tried it just now and it worked. If you add
[code]
to your AndroidManifest under the `application` block, it will work. I don't exactly know what you did, but don't put an expression there (eg. 1 * 1000).

[2016-01-22 23:02] #285 closed

[2016-01-22 23:07] ryanjohns commented on #289
I understand that it requires a rooted device. It is also very simple to detect when this happens and is an improvement to the current state of affairs. Resolve the host names of api.mixpanel.com and decide.mixpanel.com and if either returns `127.*` or `0.*`, consider the user to be offline. There is already a check in the SDK for online status where this could be incorporated and Android provides

[2016-01-22 23:16] ryanjohns commented on #289
I want to add that the proposed workarounds I've received from the mixpanel support engineers are not acceptable. They suggested 2 options which both have problems and both require customers like us to implement the same DNS check I just described.

1) Set the $ignore property on the user when DNS resolves to localhost. This doesn't really work directly and would require us to create an API to inf

[2016-01-22 23:23] yinfeiru commented on #275
Thanks for your suggestion! We've recently done an internal discussion about it as well. I wanted to get rid of Eclipse support as Google stopped maintaining ADT in June 2015. However, we believe there's a decent amount of Mixpanel users are still on Eclipse. As the next step, we'll find a way to figure out if that's the case and make a final call according to the result.

[2016-01-22 23:23] #275 closed

[2016-01-22 23:30] yinfeiru commented on #274
It's you again and, as always, thanks for writing in.
This acceptance test, as you can tell, is just a prototype I wrote long long time ago and hasn't been updated since then. The tests above are for layout A/B, which is not officially supported as yet. I'll definitely re-visit this test once I get a chance. You can simply ignore them for now.

[2016-01-25 11:20] fabiocarballo commented on #295
hey @yinfeiru !

Yes, we still have this issue. (We done a workaround to avoid it, but it is not the ideal solution).

I was able to reproduce this kind of issue (crashing when presenting in-apps) by doing the following steps:

1. Start Activity
2. In the **onResume** try to fetch an in-app and present with showNotificationsIfAvailable
3. In the **onResume** open another activity

This causes the

[2016-01-25 20:32] Quuxplusone commented on #160
Looks like Joe fixed this in https://github.com/mixpanel/mixpanel-android/commit/694efa3308ba9bc5b4c3be81b46a5db7814fb050.

[2016-01-25 22:18] patedit commented on #273
Thanks for pointing this out @yogurtearl !
This script is only for testing purposes and whoever uses it should know what it's doing. I personally think it makes more sense to let the user modify an script variable than relying on each user to set a global environmental variable in their machines since `ANDROID_HOME` is not set by default.

[2016-01-25 22:18] #273 closed

[2016-01-25 22:44] yinfeiru commented on #274
I've updated the acceptance test. Thanks again for pointing this out!
#306

[2016-01-25 22:44] #274 closed

[2016-01-25 22:59] patedit commented on #269
@bricestacey this was fixed on the latest version (v4.7.0)(see https://github.com/mixpanel/mixpanel-android/commit/a32b31e0f5cb6c29113d4f0615c48a7f78e2c6fe). Sorry for getting back to you late!

[2016-01-25 22:59] #269 closed

[2016-01-25 23:08] yinfeiru commented on #295
@fabiocarballo Thanks for writing back and I'm sorry to hear that you are still suffering this issue. And, yes, our `showNotificationsIfAvailable` API is not smart enough to handle it at this point. I'll definitely find a way to fix it.

To this particular issue, is it possible to let Mixpanel show the notifications automatically with the following config in your Manifest?
[code]
Or, is it OK if y

[2016-01-25 23:15] yinfeiru commented on #258
Closing. Please re-open if you still have questions about this.

[2016-01-25 23:15] #258 closed

[2016-01-25 23:36] yinfeiru commented on #95
Closing. Please re-open if anyone sees this issue again.

[2016-01-25 23:36] #95 closed

[2016-01-25 23:38] yinfeiru commented on #96
Closing as it's in the latest lib.

[2016-01-25 23:38] #96 closed

[2016-01-25 23:42] yinfeiru commented on #119
Please re-open if you still have this issue.

[2016-01-25 23:42] #119 closed

[2016-01-25 23:43] yinfeiru commented on #160
@Quuxplusone lol
Closing

[2016-01-25 23:43] #160 closed

[2016-01-25 23:48] yinfeiru commented on #163
@sirvon  Sorry for the late. They will be in the same decide response and you'll need to call `getNotificationIfAvaliable` 20 times to retrieve them all. Once a notification has been shown, our lib will update the user's profile so that the same notification won't be in the decide response again.

[2016-01-25 23:48] #163 closed

[2016-01-25 23:53] yinfeiru commented on #161
@SleeplessByte Do you still have this issue? Please re-open if so.

[2016-01-25 23:53] #161 closed

[2016-01-25 23:55] yinfeiru commented on #162
@phil-brown Sorry for the late. Are you still seeing this issue with the latest lib? Please re-open if you see it.

[2016-01-25 23:55] #162 closed

[2016-01-26 00:00] yinfeiru commented on #175
Closing this as it should have been fixed.

[2016-01-26 00:00] #175 closed

[2016-01-26 00:08] yinfeiru commented on #178
@assizic Thanks for writing in. I'll be working on this in the next few days.

[2016-01-26 00:09] yinfeiru commented on #79
It's in the doc already.

[2016-01-26 00:09] #79 closed

[2016-01-26 00:15] yinfeiru commented on #184
#186 has been merged in.

[2016-01-26 00:15] #184 closed

[2016-01-26 00:17] yinfeiru commented on #188
This feature is available in the latest lib.

[2016-01-26 00:17] #188 closed

[2016-01-26 08:13] assizic commented on #178
Thanks, @yinfeiru! We're looking forward to it. We currently can't use several new features introduced in  latest versions (like AB testing), and it's holding us back.

[2016-01-26 17:34] SleeplessByte commented on #161
Haha. A year later? I don't have it any more for the mere reason that I don't work on that app any more.

[2016-01-26 21:33] yinfeiru commented on #270
Closing. Please re-open if you still have questions

[2016-01-26 21:33] #270 closed

[2016-01-26 21:35] yinfeiru commented on #265
Closing. Please re-open if you still have this issue.

[2016-01-26 21:35] #265 closed

[2016-01-26 21:36] yinfeiru commented on #264
@pguilbot Sorry for the late. I didn't get a chance to dive into this issue. I'll probably do so in the next few days.

[2016-01-26 21:38] yinfeiru commented on #262
@sudam-chavan Sorry for the late. Are you still seeing this issue? Have you tried the latest lib we have? Please re-open if you still have this problem!

Again, sorry for the late response!

[2016-01-26 21:38] #262 closed

[2016-01-26 21:40] yinfeiru commented on #261
@danielgomezrico I think this is the same as #291. I'll close this one and handle it there.

[2016-01-26 21:40] #261 closed

[2016-01-26 21:40] yinfeiru commented on #261
Also, please re-open if you believe they are different.

[2016-01-26 21:44] yinfeiru commented on #253
We are working on providing a way to disable the ViewCrawler. I'll close this one and post updates to #276.

[2016-01-26 21:45] yinfeiru commented on #246
Closing this since there's a similar ticket #248 .

[2016-01-26 21:45] #246 closed

[2016-01-26 21:48] yinfeiru commented on #243
Thanks for the info guys! I'll look into this in the next few days!

[2016-01-26 21:49] Digisha opened #308 "ImageStore.getImage(): OutOfMemoryError"
- We have noticed OutOfMemoryError in our crash report tool for our app versions when we were using Mixpanel A/B testing. Most of our errors are happening on 4.1.2, 4.4.2 and 5.0 devices.

- I tried to update an image in our app with images of size 175KB and 139KB from A/B testing and I was able to reproduce the error.

- We are on

[code]

[2016-01-26 21:50] yinfeiru commented on #240
Thanks for writing in guys and sorry for the late response. I'll make sure to look into this in the next few days!

[2016-01-26 22:24] yinfeiru commented on #189
@fred8 Are you still seeing this issue? Please re-open if you are.

[2016-01-26 22:24] #189 closed

[2016-01-27 07:39] reddy6362 opened #309 "java.lang.VerifyError at basic track() in Android version 4.4.2"
Recently I have integrated *MixPanel (V 4.6.4)* in to one of my android application and I am good at getting logs. But during our testing, we observed that the application(Mixpanel tracking code) is getting crashed in couple of Android versions.

Please find the details below.

**Exception:**
java.lang.VerifyError: com/analytics/mixpanel/MixPanelManager
                at com.unidos.selfservice.Lo

[2016-01-27 10:12] fabiocarballo commented on #295
On the activity where I show the notifications I had to add a control variable to check whether the acitvity was available or not. (Not pretty, but working)

The code looks something like this:

[code]

Thank you @yinfeiru

[2016-01-27 18:01] yinfeiru commented on #295
#300
I have a PR to fix this. This fix will be available in the next release.

[2016-01-27 18:25] yinfeiru commented on #205
#300 will fix this issue. This patch will be available in the next release.

[2016-01-27 18:25] yinfeiru commented on #284
#300

[2016-01-27 20:07] yinfeiru commented on #291
@skyisle Are you still observing this issue? Since the sensor we are using is `TYPE_ACCELEROMETER`, the acceleration value is used in the calculation but not the flipping angel. Can you please try to slow it down and see if it helps?

`MINIMUM_GRAVITY_FOR_FLIP` and `MAXIMUM_GRAVITY_FOR_FLIP` are just experimental values. If they bother our users a lot, we'll definitely spend more time on tuning th

[2016-01-27 21:45] ryanseams commented on #309
hi @reddy6362 thanks for writing in! based on the fact you are getting java.lang.VerifyError, there could be a number of issues occurring here. this error means that you're referencing a class that Dalvik cannot load, which has a large number of potential causes.

is it possible to check your logs from right before this crash occurs? this will let us know specifically which class reference is caus

[2016-01-27 21:45] yinfeiru commented on #240
This bug has been fixed in #310 . It will be available in the next release which is coming soon.

[2016-01-27 23:15] yinfeiru commented on #178
@assizic I'm trying to reproduce this issue but no luck so far. Is it possible if you provide me a simple demo project which has this issue? Or, can you provide me your layout file?

[2016-01-27 23:39] joeatwork commented on #178
@yinfeiru try it with a large number of edits, and a deep view hierarchy

[2016-01-28 00:03] yinfeiru commented on #178
@joeatwork cool. will try.

[2016-01-28 13:17] assizic commented on #178
@yinfeiru I'll try to create a demo project that shows the problem. Will update soon.

[2016-01-28 14:26] fabiocarballo commented on #295
Good to know! :)

[2016-01-28 17:27] yinfeiru commented on #178
@assizic Fantastic!!

[2016-01-29 18:32] danielgomezrico commented on #291
Same thing happens on Nexus 4 with 5.1.1 but it works with samsung galaxy s6 with 5.1.1, not sure whats happening.

[2016-01-29 18:32] danielgomezrico commented on #261
:+1:

[2016-01-30 01:39] yinfeiru commented on #291
@danielgomezrico I think they have different the sensors which leads to different results. I've tried it on a Nexus 5 and it works good. Have you tried to flip the phone slower? Or it just doesn't work at all?

[2016-02-01 19:12] yinfeiru commented on #243
@dbachelder Thanks for the link! It's extremely helpful!

@justincpollard Thanks for the PR. I'll take a look and talk to you there!

[2016-02-01 19:12] #243 closed

[2016-02-01 19:48] patedit commented on #291
@skyisle What is the device you were using?

[2016-02-01 21:39] patedit commented on #272
Looks like it was already changed here https://github.com/mixpanel/mixpanel-android/commit/1af0f6af29dc8fa9b298be32c9025a5ef0c0d04d#diff-c197962302397baf3a4cc36463dce5ea

Thanks @yogurtearl for your help!

[2016-02-01 21:39] #272 closed

[2016-02-01 22:51] yinfeiru commented on #264
@pguilbot Oh, cool! Thanks for letting us know. I'm closing this for now and I'll definitely keep an eye on this issue. Please re-open if you observe this issue again. Sorry for the late response!!

[2016-02-01 22:54] yinfeiru commented on #308
#315 Closing this and will track this issue in the pr.

[2016-02-01 22:55] yinfeiru commented on #295
Closing this.

[2016-02-01 22:55] #295 closed

[2016-02-01 22:57] #284 closed

[2016-02-01 22:58] #205 closed

[2016-02-01 22:58] #240 closed

[2016-02-01 22:59] yinfeiru commented on #207
Closing this and will track this issue at #314

[2016-02-01 22:59] #207 closed

[2016-02-01 23:06] patedit commented on #289
Seems like decide.mixpanel.com is already part of AdAway blacklist (http://hosts-file.net/ad_servers.txt). However, it's worth to implement a fix in case some clients are using local information and/or other adblockers that use different lists where decide.mixpanel.com is not include (e.g. http://winhelp2002.mvps.org/hosts.txt)

PR #316

@ryanjohns feel free to comment on the PR.

[2016-02-02 00:09] patedit commented on #236
@SleeplessByte Sorry for the late response, is it still happening?

[2016-02-02 00:11] patedit commented on #276
Closing since it's already merged PR #313

Thanks @yogurtearl !

[2016-02-02 00:11] #276 closed

[2016-02-02 00:52] yinfeiru commented on #260
@niftynei Can you please try this with the latest master? It might be related to #310 . If it's not fixed, can you please provide me your layout file? Or maybe create a project which is able to reproduce this issue? I was having trouble with reproducing it.

[2016-02-02 01:45] ryanjohns commented on #289
@patedit Thanks so much! Good solution using `isLoopbackAddress()` combined with `isAnyLocalAddress()` as that will handle all cases on both IPv4 and IPv6.

AdAway added decide.mixpanel.com at the request of one of your support engineer back in November to help mitigate this issue which is why it is now included. Users with older block lists or other ad blockers might still be affected like you me

[2016-02-02 02:06] SleeplessByte commented on #236
187 days.

I have not seen it, neither looked for it.

[2016-02-02 02:07] patedit commented on #236
Thanks! Closing this issue then.

[2016-02-02 02:07] #236 closed

[2016-02-03 01:07] patedit commented on #289
Issues has been merged to master. You're welcome @ryanjohns !

[2016-02-03 01:07] #289 closed

[2016-02-03 15:02] danielgomezrico commented on #291
@yinfeiru it dosent work at all. is there any way to print logs?

[2016-02-03 18:03] mzekrallah commented on #240
any estimated time for releasing this fix ? we have apps suffering from this bug in production .. thanks

[2016-02-03 19:22] yinfeiru commented on #291
@danielgomezrico Hmm.. That's no good. I'll find a Nexus 4 and test it out.

[2016-02-03 20:51] yinfeiru commented on #291
@danielgomezrico I've tested it just now on a Nexus 4 with 5.1.1 which is exactly what you had and I was able to connect to the A/B builder.
Can you send me your log? If you search for `flip` in the log, you'll see something like
[code]

[2016-02-03 21:52] yinfeiru commented on #291
@danielgomezrico also, it'd be helpful if you print out the value of `totalGravitySquared` `smoothed[2]`
https://github.com/mixpanel/mixpanel-android/blob/master/src/main/java/com/mixpanel/android/viewcrawler/FlipGesture.java#L28

[2016-02-04 00:49] patedit commented on #309
Hi @reddy6362 ! It looks like your own class `com.analytics.mixpanel.MixpanelManager` could not be loaded for different reasons (as pointed by @ryanseams). I may be wrong but I do not think this is related to the library but a mistake on your end.

By the way, you do not need to pass the activity object by `getActivity()` if you only need the context. It may leak your app in the future depending o

[2016-02-04 00:49] #309 closed

[2016-02-04 20:34] patedit commented on #279
Hi @mbmc ! Thanks for reaching out and improving the SDK! Notice that `mContext` is an Application context and not an `Activity` context (https://github.com/mixpanel/mixpanel-android/blob/master/src/main/java/com/mixpanel/android/mpmetrics/MixpanelAPI.java#L300). For that reason I don't think it needs to be a `WeakReference`. What do you think? Would love to hear your thoughts. Thanks again!

[2016-02-05 10:29] RomainPiel opened #319 "Be less verbose in logcat"
I can see a few logs coming in the release version of my app from Mixpanel SDK:

[code]

I think this should go under a lower level like `debug`. We don't necessarily want to expose to the world that our app is not using a `SurveyActivity` :)

[2016-02-05 16:24] patedit commented on #319
Hi @RomainPiel ! Thanks a lot for the feedback. You're completely right. I've been thinking about changing all the Log.X to a custom Logger to fix all these issues. Will keep this ticket open until this is solved. Thank you :)

[2016-02-05 17:14] jdauphant opened #320 "Crash in ViewCrawler with Mixpanel 4.7.0 and StrictMode"
Hello,

I have crash on the class com.mixpanel.android.viewcrawler.ViewCrawler .

It look's like have different behavior with different device :
- Sony Xperia Z3 with android 5.1 don't crash
- it crash on a yotaphone with Android 5.0
- it didn't crash on a Samsung S2 on Android 4.2

The stack :
[code]
Mixpanel version: 4.7.0.

FYI: We don't use sensors in our app.

Best regards,
Julien

[2016-02-05 18:36] patedit commented on #320
@jdauphant Thanks a lot for pointing this out! We are using the `Activity` context and it seems that Android keeps an strong reference in this case. I believe this issue was solved on Android 5.1 and they do not retain the object anymore - that is why it's working fine on your Sony.

I'm going to create a PR now fixing this issue :) Thanks again @jdauphant

[2016-02-05 20:21] yinfeiru commented on #298
@patedit has a pr for this at #318

[2016-02-05 22:00] yinfeiru commented on #260
I'll close this for now. Please re-open if you still have this issue.

[2016-02-05 22:00] #260 closed

[2016-02-05 23:39] yinfeiru commented on #320
@jdauphant this fix will be available in the next release which is coming soon

[2016-02-05 23:40] yinfeiru commented on #298
@sushiisumii the pr has been merged. it will be in the next release which is coming soon.

[2016-02-05 23:40] #298 closed

[2016-02-06 09:37] jdauphant commented on #320
Thanks

[2016-02-07 13:06] assiziv commented on #178
@yinfeiru I'm currently unable to provide a project to demonstrate the issue, as it requires our core logic that I can't send (we build these views by code and not from an XML).
However - I see that it it is considerably more sluggish when the view is complex, or the hierarchy is deep. Have you tried building very complex views? The problem is very visible when we have multiple animations on a com

[2016-02-08 09:22] jdauphant commented on #320
@yinfeiru
Do you have a beta version with the fix we can use ?

[2016-02-08 19:11] patedit commented on #320
@jdauphant You could pull from master if you want. Otherwise, we are making a new release today/tomorrow.

[2016-02-08 19:16] yinfeiru commented on #178
@assiziv Thanks for letting me know! @patedit and I have tried various things - deep hierarchy, adding fragments, adding animation, etc. Unfortunately, we were still not able to reproduce it. We'll keep trying and let you know if we have some break through.

As far as I know, his issue seems to be related to the ViewCrawler class. It parses through the whole view hierarchy to apply A/B changes and

[2016-02-09 15:34] Digisha commented on #251
We are still getting this errors on mixpanel v4.7.0. Are there any updates about this crash?

[2016-02-10 07:28] patedit commented on #279
Closing. Feel free to open it again.

[2016-02-10 07:28] #279 closed

[2016-02-10 12:00] NammariMarkavip commented on #240
+1

[2016-02-10 15:54] assiziv commented on #178
@yinfeiru The problem seems to be resolved with latest release (4.8.0) :)
I'll update you if I see something after using it for a while. Thanks!

[2016-02-10 16:09] patedit commented on #178
Thanks for the update (and for updating!) @assiziv!

[2016-02-10 16:10] assiziv opened #326 "SDK depends on all play-services"
Using the entire library adds permissions to the app (if you include play-services-wallet for example, which I assume is not needed by MP).

Can this:
`dependencies {`
`    compile "com.google.android.gms:play-services:[3.1,)"`
`}`

Be replaced with this (not sure what's the base version you need, but depending just on base and gcm):
`dependencies {`
`    compile 'com.google.android.gms:play-servi

[2016-02-10 16:14] patedit commented on #240
@NammariMarkavip @mzekrallah @alamkanak @nadavfima @imrihe @rejasupotaro @reemsherman New release 4.8.0 fixes this issue :)

[2016-02-10 16:18] patedit commented on #320
@jdauphant We released a new version yesterday with this fix!

[2016-02-10 16:19] patedit commented on #298
@sushiisumii Problem solved on the latest release [v4.8.0](https://github.com/mixpanel/mixpanel-android/releases/tag/v4.8.0)

[2016-02-10 16:21] patedit commented on #289
@ryanjohns This fix is included in the latest release [4.8.0](https://github.com/mixpanel/mixpanel-android/releases/tag/v4.8.0)

[2016-02-10 16:22] patedit commented on #207
@zawadz88 @jayeti @fabiozo Issue is fixed in the latest stable release [4.8.0](https://github.com/mixpanel/mixpanel-android/releases/tag/v4.8.0)

[2016-02-10 16:23] patedit commented on #284
@fabiocarballo You can update to the latest version [4.8.0](https://github.com/mixpanel/mixpanel-android/releases/tag/v4.8.0) that fixes this issue.

[2016-02-11 00:06] jdauphant commented on #320
@patedit Thanks but I have the same issue in 4.8.0.
I have solved the problem by setting "com.mixpanel.android.MPConfig.DisableGestureBindingUI" to true

[2016-02-11 00:10] ryanjohns commented on #289
@patedit Thanks so much, we will update for our next release.

[2016-02-11 12:52] iauglov opened #327 "FatalException"
We have some problems with notification.
Fatal Exception: java.lang.ClassCastException: android.widget.RelativeLayout cannot be cast to android.widget.LinearLayout
       at com.mixpanel.android.surveys.FadingImageView.onMeasure(FadingImageView.java:46)
       at android.view.View.measure(View.java:17496)
       at android.widget.RelativeLayout.measureChildHorizontal(RelativeLayout.java:728)

[2016-02-11 12:59] ryanseams commented on #327
Hi @iauglov ! It sounds like you are seeing the same crash as https://github.com/mixpanel/mixpanel-android/issues/286, which should be resolved in the newest release of the library.

Can you try updating to version 4.8.0 and letting us know if this crash persists?

[2016-02-11 13:20] iauglov commented on #327
Thanks, we try update if problem continue we reopen this issue

[2016-02-11 13:20] #327 closed

[2016-02-11 18:22] jbkielis opened #328 "Now seeing $app_build_number and $app_version_string under "Your Properties""
"$app_build_number" and "$app_version_string" are now appearing under the "Your Properties" section of each event in the Mixpanel console.  They also appear (as they used to) under the "Mixpanel Properties" section.

This only appears to be affecting v4.8.

[2016-02-11 21:29] yinfeiru commented on #328
Thanks for writing in and I'm glad to know that you are on 4.8 already!!

`$app_build_number` and `$app_version_string` are two new Mixpanel properties we added in this version. The fact that they are under "Your Properties" section is because our website doesn't handle them properly. The Android library itself is behaving properly. I'll update our website to make sure they will display in the pro

[2016-02-11 21:37] yinfeiru commented on #328
Please refer to #294 for more info.

[2016-02-14 16:46] hmedat2008 commented on #240
Many Thanks

[2016-02-15 00:19] rejasupotaro commented on #240
It works correctly! Congrats :tada: Thank you :smile:

[2016-02-17 11:09] jdauphant opened #329 "Leak on ImageStore on Android 5.0 (version 4.8.0)"
I have bug with StrictMode on Android 5.0 (Yotaphone), I have this leak :
[code]

If I add the setting "com.mixpanel.android.MPConfig.DisableViewCrawler"="true"
[code]

I have create a separate issue as #320 , made it could be qualified at same bug.

Thanks for your answer

[2016-02-17 23:37] marwanad commented on #95
We're still getting this issue. These logs were pulled from an LG-LG730 running Android 4.1.2
[code]

[2016-02-18 23:48] yinfeiru commented on #329
@jdauphant Thanks for reporting this!!
I found this post on stackoverflow http://stackoverflow.com/questions/13323431/strictmodediskreadviolation-when

I've tried to do `context.getDir` in a runnable and it does eliminate this warning. However, I don't think it's necessary do this in a separate thread as I don't think `getDir` will ever take that much time to finish.

Please let me know your thoug

[2016-02-18 23:50] yinfeiru commented on #328
Closing this as I've created a PR in our private Mixpanel repo and will be shipped shortly.

[2016-02-18 23:50] #328 closed

[2016-02-19 09:37] dommerq commented on #319
:+1: on that :crying_cat_face:

[2016-02-19 13:47] ansman opened #332 "Slow startup time"
I found that on my Nexus 5X it takes around 200ms to initialize create the mixpanel object. One of the slowest calls (with around 100ms) is the `MPConfig` constructor which tries to create an `SSLSocketFactory`.

This issues has two parts. First, it would be nice if some of the things that are done could be deferred to another thread. Secondly I've started making all my mixpanel calls on a worker

[2016-02-19 20:10] yinfeiru commented on #326
@assiziv #333
I'll simply follow what we did before which is `[3.1,)`.

[2016-02-19 21:44] yinfeiru commented on #248
Thanks guys! I have a pr for it!
#333

[2016-02-19 21:54] justincpollard commented on #248
Sweet :-)

[2016-02-19 21:58] jdauphant commented on #329
Thanks, apparently it's working !

[2016-02-29 17:41] patedit commented on #332
Hi @ansman ! Certainly 200ms is too much.
Can the System find a proper SSL support? (i.e. Can your phone get a `SSLContext` instance with `TLS`?). You should see some logs if that is no the case.

There should be no problem if all the calls to our library are made in a separate thread. However, there should be not reason to do so since internally we schedule thread jobs to defer different operatio

[2016-02-29 17:57] #248 closed

[2016-02-29 17:58] #178 closed

[2016-03-01 10:12] ansman commented on #332
I'm not sure, the timing was found using Nimbledroid so I can't find out what happens there but on my Nexus 5X it gets an SSLContext and creating mixpanel takes around 70ms

[2016-03-05 12:21] yahor-makouski-epam commented on #178
I can still reproduce the issue as long as we have a big enough amount of events created in the account.

here is the trace with confirmation mixpanel does a lot of work on ui:
https://drive.google.com/file/d/0B9_5dr6in8cWRmQwZzNaUWpLQnM/view?usp=sharing

[2016-03-06 10:20] assiziv opened #338 "Crash in HttpService.java, SDK 4.7.0"
Hi,

In checkIsMixpanelBlocked(), there's a catch to UnknownHostException. A few dozen of our users crashed on SecurityException.

Thanks,
Assi

[2016-03-10 18:43] ismaeltoe opened #339 "The GET_ACCOUNTS permission is no longer needed for GCM to work"
The GET_ACCOUNTS permission is no longer needed for GCM to work. So why is it needed in Mixpanel? Also, GET_ACCOUNTS is a dangerous permission wich makes it hard to manage on Android 6.0+ devices since in this case, it is used for Push notifications.

[2016-03-11 02:01] marwanad commented on #95
This seems to be a problem on some devices where MD5 (and others) aren't available. One fix would be to use Spongy Castle as a security provider.
I still believe you should at least be catching an `AssertionError` here since the number of crashes is somewhat significant.

[2016-03-11 17:33] jeffwatts commented on #95
We already install Spongy Castle as a provider, and we still see the issue.

[2016-03-11 17:57] marwanad commented on #95
Are you inserting it at 1 ?
Using ```Security.insertAt(new BouncyCastleProvider(), 1);``` seemed to have reduced those crashes.

[2016-03-22 08:42] diwanshuster commented on #308
I am getting the exact same crash in version 4.8.0. What's the current status of this issue???

[2016-03-22 15:13] mbmc commented on #279
Correct, the applicationContext will go away with the app.

[2016-03-24 11:48] reddy6362 commented on #309
Hi,
The issue is happenning in some versions of Android versions. Specific to 4.4.2

Is this the issue with try catch block around tracking code in my app.

[2016-03-24 17:40] patedit commented on #309
@reddy6362 I want to make sure you understand that it's not a problem in Mixpanel library but in your project. Notice that it fails when loading your own class and `com.analytics.mixpanel.MixpanelManager`.

[2016-03-24 17:43] ryanseams commented on #308
@yinfeiru @patedit other users are also reporting this crash as occurring on 4.8.0. looks like we may consider reopening as it does not appear to be resolved.

[2016-03-24 17:47] patedit commented on #339
Thanks @ismaeltoe . You're right, GET_ACCOUNTS is no longer needed. I have updated the comment on the `AndroidManifest.xml` .

[2016-03-24 17:47] #339 closed

[2016-03-24 17:51] patedit commented on #338
Hi @assiziv I have fixed the issue and it will be available on the next release.

[2016-03-24 17:51] #338 closed

[2016-03-24 18:08] assiziv commented on #338
Cool. Thanks!

On Thu, Mar 24, 2016, 19:51 Sergio Alonso Fernández <
notifications@github.com> wrote:

[2016-03-24 21:58] #326 closed

[2016-03-24 22:40] #329 closed

[2016-03-25 00:35] patedit commented on #308
@diwanshuster @ryanseams Can you confirm that is `decodeFile` and not `decodeByteArray` the one that is throwing `OutOfMemoryError`?

[2016-03-25 04:52] diwanshuster commented on #308
@patedit YES, BitMapFactory.decodeFile seems to throw this error in my case.

[2016-03-25 08:54] roottony commented on #264
Hi,

still facing this issue with MixPanel 4.8.0, Android 5.1, Android 6.
MixPanel's A/B testing is enabled, but the issue arises both on devices that participate in the A/B and those that do not.
We use fullscreen MixPanel's in-app notifications, don't use codeless events tracking.

![screen shot 2016-03-25 at 11 07 13](https://cloud.githubusercontent.com/assets/1754450/14041067/ae77e28a-f27e-11e

[2016-03-25 08:57] roottony commented on #264
Please find the screenshots of the allocations dump in case you cannot open it in Android Studio.

[MixPanel-allocation-details.zip](https://github.com/mixpanel/mixpanel-android/files/189267/MixPanel-allocation-details.zip)

[2016-03-25 13:39] Digisha commented on #251
We update Mixpanel to 4.8.0. We also turned on surveys in our app which is causing our app with this crash. Can you please fix this?

[2016-03-25 20:22] patedit commented on #308
@diwanshuster Thanks! Do you have any background thread using a large amount of heap (i.e. creating bitmaps as well)? Are you able to reproduce the issue by yourself? What is the device and Android version that is crashing on? I am trying to reproduce the crash with no luck on my end. The fix that we included checks the free available memory on the heap and I can only think that while we `decodeFi

[2016-03-25 20:31] patedit commented on #251
@Digisha I've just pushed a change and it should fix it. Are you using proguard when this crash happens?

[2016-03-25 23:11] jeffwatts commented on #95
Yes, I have always inserted it at 1.

[2016-03-26 00:44] patedit commented on #264
Thanks @roottony for the super useful information! I was talking a look at it and it's the `EditBinding` runnable (runs every second). It's definitely using heap (~20KB/second) but once the garbage collector runs, memory goes back to normal and for that reason this is not a leak. Would that be a concern for you? I can take a further look.

[2016-03-26 06:52] roottony commented on #264
HI @patedit !

From what I see, the amount of heap allocated per second depends on the complexity of the UI, It can indeed be ~20 Kb/second for a simple screen, however in it was ~60 Kb/second our case.
I'm **not** saying it's a memory leak, but still it's a concern for us, as it happens all the time and drains the battery. The memory allocation does not stop when devices screen is blocked (by pre

[2016-03-28 13:00] Digisha commented on #251
@patedit Thanks for the fix. Yes, the crash happening on our release build which has proguard turned on.

[2016-03-28 17:15] patedit commented on #251
@Digisha Thanks for the info! Let me know if 4.8.5 fixes your issue :)

[2016-03-29 10:00] peterneubauer opened #341 "identify() doens't change the DistinctID of events on the server"
Hi there,
upon calling

    MixpanelAPI.getInstance(context, clientId).identify(ourUserUUID)

after login, we still see the events following this sent with something else than `ourUserUUID`, resulting in non-merged stream with the backend events that set the distinctID to `ourUserUUID`. Is that a but in the MP Android lib, since it works as expected on iOS?

[2016-03-29 16:46] ryanseams commented on #341
hi @peterneubauer ! I went ahead and downloaded your app to test out the signup flow and it appears there are two issues here:

1. you correctly call ```alias()``` when a user signs up, at which point what happens is Mixpanel creates a 1:1 mapping between the ID you provide (```ourUserUUID```) and the automatically assigned distinct ID on the device. this means whenever you send an update with ```

[2016-03-30 06:12] diwanshuster commented on #308
@patedit The crash appears in Android version 4 (almost all versions) and 6.0 in almost all devices. I am not  able to deduce a case where a background thread in my code will allocate a memory on heap (especially for bitmaps) as we are not actively dealing with bitmaps in our application. Anyways, can you point out the use-case where the particular piece of code requiring decodeFile is getting exe

[2016-03-30 23:19] fred8 commented on #308
The answer to that problem is straight forward: the ImageStore class should have a cache on 2 levels. One disk based on a DiskLruCache (not the current impl.) and a memory cache based on a LruCache. That way the bitmap will not be recreate every single time (for the in app notification, this bitmap is recreated on every single network flush.
I already mention that - It *must* be fix

[2016-03-30 23:20] fred8 commented on #308
BTW, we have a forked version of the library, we had to do it to avoid large production issues....

[2016-03-30 23:31] fred8 opened #342 "joinExperimentIfAvailable / addOnMixpanelUpdatesReceivedListener doesn't guarantee that the tweaks are up to date"
As said in the title. When we join an experiment and receive the mixpanel update callback; sometimes the tweaks variable are not up to date.
Would be **great** to have a fix for it

[2016-03-31 08:43] peterneubauer commented on #341
So, all our different clients (web, iOS, Android) should only call `alias` (btw, why are there different API calls for `alias` with one resp. two parameters on JS and Android/iOS?)?

Also, the server is sending with the `ourUserUUID` as distinctID. Should the server instead send a random distinctID and instead also call `alias` so all 4 MP clients have the same setup and we don't get a race condit

[2016-03-31 08:58] millenbop commented on #341
The problem is this use case:

1. User browses web, you track some events using an random `distint_id` (generated by MP).
2. User downloads app, launches app. You track some events using an another random `distint_id` (generated by MP).
3. User creates account from app using a server (tracked server side, and a new random `distint_id` is generated by MP), all the events from the web/app/server sho

[2016-03-31 17:57] ryanseams commented on #341
Hi @peterneubauer and @millenbop :

No matter the platform, the usage pattern follows that you ```alias``` a user once (typically when they sign up) and then you ```identify``` them on all future logins. So, for JS/iOS/Android, you should call ```alias``` with ```ourUserUUID``` when a user signs up -- this will tie your unique identifier to the the randomized ```distinct_id``` on the current platf

[2016-03-31 18:11] peterneubauer commented on #341
Ok,
SI we should call alias from the server event that creates the account, and
only do identify from all platforms then. One thing is the timing, but
possibly we can delay the calls after login a bit.

I ta strange though that there is now way to link the old events before
identify to the right user - we know that they belong there but there is no
way of telling that mix panel? It's not great sin

[2016-03-31 18:27] ryanseams commented on #341
@peterneubauer You can call ```alias``` from the server, however, this will require you pass the ```distinct_id``` to your server before an ```alias``` call can be made. As mentioned in my previous reply the form of your alias arguments would be ```(newID, oldID)``` and since the ```oldID``` is not stored on your server you would need to pass it along before you can make the ```alias``` call. You

[2016-04-03 19:28] squeeish commented on #332
@ansman do you have the same in Nimbledroid?

[Imgur](http://i.imgur.com/G9bkKV8.png)

[2016-04-04 15:52] ansman opened #343 "Stackoverflow when the database becomes corrupted"
I have no idea how but one user's database became corrupted which led to this crash:

[code]

Here's the relevant data:
- Samsung GT-I8730 (Samsung Galaxy Express)
- Android 4.1.2

[2016-04-05 00:47] fred8 commented on #342
Hey there! any updates on that?

[2016-04-05 01:17] ryanseams commented on #342
Hi @fred8 -- hope all is well!

Is it possible to elaborate on what you mean when you say "sometimes the tweak variables are not up to date"? Specifically, is the issue the tweaks are not updating quickly enough within the listener OR the tweaks are not updating to their expected values at all?

Any further info you can provide about the behavior you are seeing will assist us in being able to debu

[2016-04-05 09:49] ansman commented on #332
@squeeish Yeah, it's similar.

[2016-04-05 10:00] squeeish commented on #332
I implemented the following code and improved my startup time. Please do testing though; I don't see issues on my end.

`// initialise Mixpanel
final Context context = this;
AsyncTask.execute(new Runnable() {
    @Override
    public void run() {
	mMixpanel = MixpanelAPI.getInstance(context,getString(R.string.mixpanel_token));
    }
});`

[2016-04-05 12:47] anupcowkur opened #345 "Fails to find R class even when meta-data tag is provided."
We are using a different application ID than the one used in the `package` tag in the manifest file. The fix suggested by the SDK for this is to include a `<meta-data>` tag and provide the original package name.

In spite of providing this, the SDK is failing to pick up the R class.

Here are the details:

SDK version - `4.8.5`
API level - `23`
package name in manifest - `in.cleartax`
changed pack

[2016-04-05 17:22] patedit commented on #345
Hi @anupcowkur - Are you seeing this message?
`MixpanelAPI.RsrcReader: Can't load names for Android view ids from 'in.cleartax.R$id', ids by name will not be available in the events editor.`

Are you using `gradle`?

[2016-04-05 20:06] fred8 commented on #342
Hi @ryanseams,

To turn it in a different way: the listener should be call as soon as the experiment as been actually joined and that the tweak variable contains the appropriated value -- which is not the case. The listener is called before. As the result, when we get the listener it's not certain that the tweak variables are up-to-date.

[2016-04-06 06:49] anupcowkur commented on #345
Yes and Yes.

[2016-04-06 23:49] patedit commented on #345
Can I see your `gradle` file?

`AndroidManifest.xml` should have something like

[code]

And your `build.gradle` should have something like:

[code]

[2016-04-07 05:30] anupcowkur commented on #345
Sure. Please find the [gradle file here](https://gist.github.com/anupcowkur/b806125683832d7ebd1b9e2a3a110ce2).

[2016-04-07 13:14] peterneubauer commented on #341
Hi there,
now we have changed the signup flow to do the alias upon signup, and after that only use identify. However, if we log in/log out multiple times, the streams are still not merged in MP into one People. Can you please try http://android-releases.mapillary.io/app-release_184-MP.apk and let us know if this is the right flow of events?

[2016-04-07 17:07] patedit commented on #345
Thanks @anupcowkur

There is nothing wrong with that gradle file, and the meta-data is the right one. I'm wondering if it's the proguard configuration. If you disable proguard, does it still happen?

Could you also share with me the `AndroidManifest.xml` file? Thanks!

[2016-04-07 18:19] anupcowkur commented on #345
Yeah. It happens on debug builds too. My proguard config already has a rule to keep the R class around.

Here's the [manifest file](https://gist.github.com/anupcowkur/9c3bd3d44b56283fd8b3fe01d6df70cb).

[2016-04-07 22:05] fred8 commented on #342
Hey @ryanseams,

Do you have any ideas of what's going on?
Thank you!

[2016-04-08 00:13] ryanseams commented on #342
Hi @fred8 -- I just ran a test on this and am not seeing any issues with the tweaks being up to date. In my test I log the initial tweak value, then call another method where I join the A/B test and then print again the value of the tweak. You can see the result of this is the tweak value in the experiment being applied as expected, as you can see in the log below:

[code]

Is it possible to share

[2016-04-08 00:19] fred8 commented on #342
I'm using it to update some super properties.
showNotificationIfAvailable could be call before or after; how it's related?

[2016-04-08 00:20] ryanseams commented on #342
Sorry, the call is not to ```showNotificationIfAvailable``` it is to ```joinExperimentIfAvailable```. Are you joining the experiment before accessing the value of the tweaks?

One other consideration -- are you sending an event immediately after setting the super properties?

[2016-04-08 00:22] fred8 commented on #342
Nope, we're doing a call to joinExperimentIfAvailable before trying accessing the tweaks.
Yes, potentially; why?

[2016-04-08 23:48] ryanseams commented on #342
@fred8 Can you confirm your listener looks something like:
[code]

Using this configuration and logging I can see there is potential for a log like:
[code]

Where the server is returning a response indicating a tweak is there but the tweak is not applied as expected within the listener. Is this your issue?

From what I can tell, the placement of the code actually matters here -- for example, if th

[2016-04-09 00:03] fred8 commented on #342
@ryanseams Yeah, that's exactly what we see.
In my opinion, you should fire the listener as soon as you know that the tweaks variable are correctly filled instead of introducing an arbitrary delay that could eventually failed sometimes.

Let me know if we we'll get a fix soon in the library. Our next enhancement is entirely based on that.

Thank you for your support!

[2016-04-11 07:10] peterneubauer commented on #341
Bump?

[2016-04-11 20:16] ryanseams commented on #341
Hi @peterneubauer I went ahead and tested the version of the app you sent over. Are you sure you are calling ```alias``` on the username when signing up? I am not seeing an alias created in Mixpanel, and my profile is breaking upon sign up within the app as ```identify``` is definitely being called with my username:

![image](https://cloud.githubusercontent.com/assets/9201737/14440988/6bcea3e4-ffe

[2016-04-11 20:20] ryanseams commented on #342
Hi @fred8 since the listener is used for surveys, notifications, and A/B tests it is not a problem with when the listener fires. The race condition would actually be between calling ```joinExperimentIfAvailable()``` and then executing the code to grab a tweak (i.e. ```boolean hiThere = HiThereTweak.get()```) immediately after the call to join an experiment.

@patedit @yinfeiru will have to look in

[2016-04-11 20:22] fred8 commented on #342
Hi @ryanseams
So in that case why we couldn't have a listener that is explicit for the tweak variables?
For ex: addOnMixpanelUpdatesTweakVariableListener ?

[2016-04-12 22:13] fred8 commented on #342
@ryanseams
Any fixes?

[2016-04-13 07:47] anupcowkur commented on #345
Ended up handling this with our own GCM receiver. Had to integrate manually integrate GCM for other reasons anyway. Thanks for your help.

[2016-04-13 07:47] #345 closed

[2016-04-13 07:52] abhinandankothari opened #346 "Changing Survey Dialog Language"
Currently from Strings.xml we have
 <string name="com_mixpanel_android_survey_prompt_dialog_title">We\'d love your feedback!</string>
    <string name="com_mixpanel_android_survey_prompt_dialog_message">Mind taking a quick survey?</string>
    <string name="com_mixpanel_android_sure">Sure</string>
    <string name="com_mixpanel_android_no_thanks">No, Thanks</string>

How can i change it to Regiona

[2016-04-13 16:23] ryanseams commented on #346
Hi @abhinandankothari! You can change the language of the survey by including a local copy of the same resource in your project and it will override what is used in the SDK. Specifically, you will want to provide a new value for the string id's you wish to change within your ```strings.xml``` file -- the strings you define will replace what is used by default in the SDK.

You can find a full list

[2016-04-13 19:44] fred8 commented on #342
Hey @ryanseams,
Is there any additional problem? I'm not receiving the listener update callback anymore.
For the other part, do you have any fixes?

[2016-04-13 22:02] abhinandankothari commented on #346
Thanks a lot :+1: I fixed it and it works. Closing the Issue :)

[2016-04-13 22:02] #346 closed

[2016-04-13 22:53] ryanseams commented on #342
@fred8 There should not be any problems with receiving the listener callback, provided there is a response coming from Mixpanel. If you are in a debug build with [Mixpanel debugging](https://mixpanel.com/help/reference/android#debugging_and_logging) enabled, you should be abled to see this response come through and then be processed -- can you confirm you are not getting a response?

Unfortunately

[2016-04-14 00:10] fred8 commented on #342
@ryanseams I will re double check with the mp debugging enabled.
For the tweaks listener, yeah, it's an SDK change... so that's why I wonder when we'll have an update for that

[2016-04-14 08:24] peterneubauer commented on #341
well, this is the exact code that is being called (I can get you access to our repo if you need):

                MixpanelAPI instance = MixPanel.instance(SignUpActivity.this);
                data.putString(AccountManager.KEY_ACCOUNT_NAME, email);
                data.putString(AccountManager.KEY_ACCOUNT_TYPE, MapillaryAccountConstants.AUTHTOKEN_TYPE_FULL_ACCESS);
                data.putString(

[2016-04-14 22:59] ryanseams commented on #341
I checked on our backend and the value ```ryanseamsmp``` was never aliased to the automatically assigned distinct ID in the screenshot. Is it possible to turn on [debug logging](https://mixpanel.com/help/reference/android#debugging_and_logging) on this build so I can watch the calls go out from the device?

As for the issue with ```$email``` never showing up, you will need to make one more call to

[2016-04-18 12:22] peterneubauer commented on #341
Thanks @ryanseams  for the debug hint - I think things are working correctly now!

[2016-04-19 08:30] jaworskim commented on #264
We are seeing similar issue in our application with 4.8.0 and 4.8.5 Mixpanel version. After calling MixpanelAPI.getInstance(my_context, MIXPANEL_TOKEN); our application is starting to work extremely slow. After taking a look at a CPU profiler, we can see that after initializing Mixpanel our Main Thread is starting to be extremely busy.

Adding:

`<meta-data android:name="com.mixpanel.android.MPCon

[2016-04-20 00:24] mbusacca commented on #264
@yinfeiru Hey Yinfei! Any chance we can reopen this issue? Let me know if I can help with additional context.

[2016-04-20 00:26] mbusacca commented on #264
Adding @patedit.  Thank you!

[2016-04-21 10:57] slmyldz opened #349 "Blank screen on codeless event tracking"
I didn't got error from logcat. (I activated Mixpanel logs) Device connected but can't stream device screen to website.
![indir](https://cloud.githubusercontent.com/assets/5596316/14706673/d7f6750e-07c8-11e6-9877-39ae666e50b3.png)

[2016-04-21 18:25] patedit commented on #349
@slmyldz Is that always happening? Have you tried using a different network (wifi/3g)? Do you have an extra device you can use to test?

[2016-04-22 00:07] fred8 commented on #264
If you have some image for in app notification for eg, yes I saw the same and that lead to https://github.com/mixpanel/mixpanel-android/issues/308. Which should be fixed with the proposed solution or an alternate one.

[2016-04-22 07:03] slmyldz commented on #349
@patedit I always getting blank screen. I navigated other areas but it still same. I could only got psd export and it is to big to upload. I can't got png export treeview. Maybe app treeview is so complicated.

[2016-04-25 11:36] vanniktech opened #351 "Include Proguard configuration in library"
Can be done using `consumerProguardFile`. If you want I'd be more than happy to provide a PR for that.

[2016-04-25 17:07] patedit commented on #349
@slmyldz Can you try the latest release 4.8.6 and let me know if it's still happening? Thanks!

[2016-04-25 19:28] slmyldz commented on #349
@patedit I tried 4.8.6 and it works perfect. Thank you!

[2016-04-25 19:28] #349 closed

[2016-04-26 11:24] martyglaubitz opened #352 "NPE in MixpanelActivityLifecycleCallbacks when activity is started"
Mixpanel SDK used: 4.8.5

[code]

[2016-04-27 12:32] mreichelt opened #353 "Memory error for downloaded image even though enough memory is available"
TLDR: The error seems to be that the Mixpanel SDK uses `Runtime.getRuntime().freeMemory()` for checking if enough memory is available. This is wrong as the heap may expand dynamically, the documentation (for Android M) states:

[code]

Exception was:

[code]

The result is that currently no notifications can be shown because the SDK thinks the images are too large - which they are not.

[2016-04-27 13:08] ansman commented on #83
It would be nicer if the arrow turned to a done button. We're getting a lot of bug reports from user's who don't understand that they first need to dismiss the keyboard and then press exit.

[2016-04-27 17:10] patedit commented on #353
You're totally right, `-Xms` and `-Xmx` don't necessarily need to be the same. Thanks for the PR, I just merged it on master.

[2016-04-27 17:10] #353 closed

[2016-04-27 21:11] mreichelt opened #355 "Add javadoc.jar and sources.jar on bintray"
For easy debugging and convenience (and also because this is one big advantage of having an open source library :)) the mixpanel SDK should provide the appropriate JavaDoc and source files on bintray.
Compare the files of these two:

Files of https://bintray.com/bintray/jcenter/com.mixpanel.android%3Amixpanel-android/4.8.6/view#files/com/mixpanel/android/mixpanel-android/4.8.6
<img width="278" src

[2016-04-29 08:58] mreichelt commented on #353
@patedit do you have an ETA for the next bugfix version? This bug is currently blocking our release…
Thanks! :)

[2016-04-29 18:21] patedit commented on #353
@mreichelt Sadly we are not planning to make a new release until at least two weeks. Do you think you could pull mixpanel dependency from github instead of maven? It'd be something like:

`compile "com.github.mixpanel:mixpanel-android:d947d5ee57"`

That is your commit and it's exactly version 4.8.6 plus your fix. Don't forget to add `maven { url "https://jitpack.io" }` in your project's repository

[2016-04-29 23:05] mreichelt commented on #353
@patedit Ok, I will do that. :)

I just thought this might be worth a minor (4.8.7) bugfix release, since one of *the* most important features of the SDK will simply fail to work - because the library won't show the notification. And not just for us, but for many people…

Besides, the parameters `-Xms` and `-Xmx` are something different - we are dealing with a dynamically changing heap size, not w

[2016-04-29 23:41] patedit commented on #353
Those startup parameters specify the initial and maximum heap size. `totalMemory` and `maxMemory` correlate with those - hence my comment :) Dynamically changing the heap size or setting different values for `Xms` and `Xmx` are valid scenarios for this fix. Will keep an eye if someone else is having issues with notifications and will make a release if needed. Thanks @mreichelt !

[2016-05-02 13:57] Digisha commented on #251
@patedit We have a build running with 4.8.5 fixes and we are not seeing this issue anymore. Thanks again for the fix.

[2016-05-02 16:39] patedit commented on #251
Thanks for the update! Glad it is solved :)

[2016-05-02 16:39] #251 closed

[2016-05-04 05:27] Macarse commented on #332
@patedit I see this happening in Fitbit as well.
Check: https://nimbledroid.com/play/com.fitbit.FitbitMobile?p=2ykjol4NupGp1B#Dependencies

MixPanel takes more than 300ms to initialize

[2016-05-04 05:32] Macarse commented on #308
@fred8 can you submit a pr?

[2016-05-05 17:17] xlsior opened #357 "Tweak.get() always returns the default value"
This happens when the app uses multiple instances of the MixpanelAPI, pointing to separate MixPanel projects and only has an experiment running on one of them. This is easily reproducible in the test-application (https://github.com/mixpanel/mixpanel-android/tree/master/acceptance/test-application). Here are the repro steps:

1. You will need to setup two MixPanel projects - Project 1 and Project 2

[2016-05-12 17:19] patedit commented on #353
@mreichelt You can find your fix on the latest release 4.8.7! Thanks again!

[2016-05-12 17:57] mreichelt commented on #353
Sure thing :)

[2016-05-12 19:02] fred8 opened #362 "On the very first launch after the initialization of the MP instance the lister onMixpanelUpdatesReceived is not called"
Step to repro:

Turn on an experiment
Uninstall any old version of the sample app.
Install and launch the app.
Tweak value is “none” and not “A” on the first launch.

[2016-05-12 21:58] ryanseams commented on #362
The ```onMixpanelUpdatesReceived``` listener is designed to be called whenever an updated response is received from the Mixpanel server and not when the app initializes. Until a response is received from Mixpanel to the device, the device has no idea what A/B test the user is a part of.

As such, the above behavior is expected that the receiver will not run when the app launches, and rather when t

[2016-05-12 23:27] ryanseams commented on #357
Whenever you call to grab a Tweak value from ```MixpanelAPI```, it is grabbing that value from the most recently called instance of Mixpanel. As such, the order of the ```getInstance()``` calls matters in terms of applying the right Tweak values.

Is it possible to reverse the order of ```getInstance()``` to initialize ```mMixpanel2``` before ```mMixpanel```? This should result in the behavior you

[2016-05-13 20:19] devorchik commented on #357
The order we are initializing in is correct (anonymous, production) with the tweak variables hanging off production.  I think the underlying bug is when the anonymous result arrives after the production response (from the server), and then becomes data used for the tweaks.

[2016-05-16 17:16] Macarse opened #363 "Crashes on N"
I am seeing some crashes related to N

The stacktrace is the following:

[code]

[2016-05-17 18:17] ryanseams opened #364 "Unable to build with proguard with API target under level 23"
Proguard is throwing errors when building with the newest Mixpanel library versions for API targets under 23. The error arises out of the usage of ```getColor(Context context, int id)``` for API 23+ and ```getColor(int id)``` for all API levels below 23.

Since ```getColor(Context context, int id)``` is not available in the support-v4 library until API level 23, builds below this level pick up the

[2016-05-17 18:52] ryanseams commented on #357
You are correct -- the issue here is the most recent response from the Mixpanel /decide server is being applied for the Tweak values, regardless of the project. This is made worse by the fact there is no way to specify a Tweak value on a per project basis due to the way Tweaks are defined as global objects of ```MixpanelAPI``` and not tied to any specific project.

While my original solution will

[2016-05-17 21:03] devorchik commented on #357
There is likely a cheaper fix to only take the tweaks from the most recent project, e.g. discard those from all but the last call to .getInstance().  Supporting per-project tweaks might desirable down the road, but 2nd to having a predictable behavior on the API.

[2016-05-20 23:07] ryanseams opened #365 "timeEvent timer does not necessarily persist across sessions"
When a user makes a call to ```timeEvent```, the SDK is currently storing these values in a [Map](https://github.com/mixpanel/mixpanel-android/blob/master/src/main/java/com/mixpanel/android/mpmetrics/MixpanelAPI.java#L2123). Due to the way this value is stored, when the instance of Mixpanel is removed (for example, by force quitting the app or through the phone invoking ```onDestroy()```), the sta

[2016-05-23 07:10] yuhaocan commented on #195
how to reslove

[2016-05-30 03:50] hidroh opened #366 "Use of API 14 method while minSdkVersion is 9"
Hello, while testing my app against API 9, the app crashed due to `MixpanelAPI`'s use of `Application.registerActivityLifecycleCallbacks()`, which is only available from API 14, while `build.gradle` specifies `minSdkVersion` as 9.

[2016-06-01 10:39] RossBines opened #367 "Add setting of large icon in notifications."
Currently you can only change the small icon with the json key "mp_icnm" but this only updates the small icon.  In Android 5.0+ the large icon is made to be fully white so in the app we need to replace the large icon with an alternative so clients can display the correct notification icon.

The key "mp_icnm_l" could be used to indicate large icons.

[2016-06-03 23:24] patedit commented on #366
Hi @hidroh - I am so sorry for the inconvenience. https://github.com/mixpanel/mixpanel-android/pull/368 should fix it. Thanks for the report!

[2016-06-06 18:55] sayoojvalsan-demandmedia commented on #291
I have the same issue with N. Glad I found this page. I am going to test on emulator now with Android 5.1

[2016-06-07 00:40] hidroh commented on #366
Thanks! Does this have any implication on how Mixpanel gathers data? Would it still considered work for for APIs below 14 or no?

[2016-06-07 05:26] patedit commented on #366
@hidroh It does not have any implication on Mixpanel tracking. Android SDK supports API 9 and above. Some features are only available from API 14. For example, the SDK automatically flush the queues when the app goes to the background automatically so the developer don't need to call `flush()` on `onDestroy()` if the device is running API 14 and above. If the API is below 14 the queues are not flu

[2016-06-07 05:32] patedit commented on #367
Thanks for your feedback @RossBines - We will work on it and update this ticket as soon as it's done!.

[2016-06-07 05:34] hidroh commented on #366
Great to know, thanks! I'm closing this, looking forward to the next release.

[2016-06-07 05:34] #366 closed

[2016-06-13 10:12] chiara-jm commented on #343
Same here:

`Fatal Exception: java.lang.StackOverflowError
       at android.database.sqlite.SQLiteConnectionPool.tryAcquirePrimaryConnectionLocked(SQLiteConnectionPool.java:848)
       at android.database.sqlite.SQLiteConnectionPool.waitForConnection(SQLiteConnectionPool.java:614)
       at android.database.sqlite.SQLiteConnectionPool.acquireConnection(SQLiteConnectionPool.java:349)
       at and

[2016-06-14 18:38] patedit opened #369 "Survey question length inconsistency"
Currently we have set the max number of lines to 3. Need to be consistent with iOS.

[2016-06-15 20:47] patedit commented on #369
Fixed https://github.com/mixpanel/mixpanel-android/pull/370

[2016-06-21 15:56] mochawich commented on #211
any update on this issue?

[2016-06-21 16:18] joeatwork commented on #211
Ping @patedit

[2016-06-21 17:18] mochawich commented on #211
here are our Crashlytics logs

[code]

[2016-06-21 21:13] #369 closed

[2016-06-22 16:31] patedit commented on #211
Thanks @joeatwork @mochawich - I'm looking into it 👍

[2016-06-22 17:19] patedit commented on #211
https://github.com/mixpanel/mixpanel-android/pull/361 will solve this issue. Thanks a lot to @ryanseams for the fix :)

[2016-06-22 18:27] patedit commented on #352
Seems is the same issue as https://github.com/mixpanel/mixpanel-android/issues/211 :)

[2016-06-22 18:27] #352 closed

[2016-06-22 18:30] patedit commented on #97
You should call `reset()` when the user logs out 👍

[2016-06-22 18:30] #97 closed

[2016-06-22 18:36] patedit commented on #71
Fixed on https://github.com/mixpanel/mixpanel-android/pull/370

[2016-06-22 18:36] #71 closed

[2016-06-22 18:57] patedit commented on #83
With https://github.com/mixpanel/mixpanel-android/pull/371 we will hide the arrows when there are no more questions. Also, notice that once the user answers the last question the survey is auto dismissed.

[2016-06-22 18:57] #83 closed

[2016-06-22 19:14] patedit commented on #245
Hi @yihuaqi - sorry for the late response! Since this SDK is an open source one I would add
`-dontwarn com.mixpanel.**` on your proguard file to make sure codeless events and AB tests work properly. Let me know if you are concerned about code optimization and we can re-visit this.

[2016-06-22 19:14] #245 closed

[2016-06-22 19:17] patedit commented on #351
Hi @vanniktech - I'd be more than happy to merge your PR. Thanks a lot!

[2016-06-22 22:19] patedit commented on #259
@bryant1410 I feel your pain. I can't think of a way to know the original package name - do you have any suggestions?

[2016-06-22 22:35] bryant1410 commented on #259
Wow. Can't recall the problem exactly right now. But I have no suggestions.

[2016-06-22 22:38] patedit commented on #259
If you modify the `applicationId` we haven't found a way to know the package name where `R` is located at runtime. Will close this - feel free to open it if you find something 👍

[2016-06-22 22:38] #259 closed

[2016-06-22 22:40] patedit commented on #230
We now have two different styles in both mobile platforms: light and dark. Hope that addresses this ticket. Thanks for your feedback @baolongnt !

[2016-06-22 22:40] #230 closed

[2016-06-22 22:48] #72 closed

[2016-06-23 05:00] vibinr opened #372 "Intermittently failing to send events or properties"
Mixpanel is randomly missing out on some events, super properties etc. This is what my current flow looks like:

I do `MixpanelAPI.getInstance()` in my Application class and use this in all the needed activities. `MixpanelAPI.flush()` is being called in onDestroy of all these activities.

Am I missing something?

One more question, can I call `mixpanelAPI.getPeople().setMap()` and `mixpanelAPI.reg

[2016-06-23 07:01] ansman commented on #83
I think just having the Done key in the keyboard isn't enough, people don't always understand that. An explicit done button would be nice.

[2016-06-23 15:23] patedit commented on #83
@anas-ambri Are you talking about the multiple-choice questions or the input text questions?

[2016-06-23 15:29] ansman commented on #83
@patedit We've only had a text input question as the last question.

[2016-06-23 16:02] patedit commented on #122
Closing as this is the current behavior.

[2016-06-23 16:02] #122 closed

[2016-06-27 21:14] ismaeltoe opened #374 "NoClassDefFoundError: com.mixpanel.android.mpmetrics.MixpanelActivityLifecycleCallbacks"
My app is crashing for some users. I don't know if it's always or sometimes. All devices on which it crashes run Android 2.3.3 to 2.3.7. I'm using Mixpanel 4.8.7.

STACK TRACES:

[code]
The line 35 of MainActivity.java:

`mMixpanel = MixpanelAPI.getInstance(this, MIXPANEL_API_TOKEN);`

The devices on which it crashes, if it can help (I don't know if those are the only but it's those that appear in

[2016-06-28 16:46] patedit commented on #374
@ismaeltoe This issue will be resolved with 4.8.8 which is coming out by the end of this week. In the meanwhile, you can always point your `gradle` file to use `master` branch from this repo. I'm so sorry for the inconvenience!

[2016-06-29 21:29] #212 closed

[2016-06-29 21:31] #237 closed

[2016-06-29 21:31] #194 closed

[2016-06-30 17:38] HozakaN commented on #257
Any news on that one? I'm getting this :s

[2016-06-30 17:53] ryanseams commented on #257
Looks like this issue was closed by the user, but there is an equivalent open issue in https://github.com/mixpanel/mixpanel-android/issues/211. This problem will be resolved by https://github.com/mixpanel/mixpanel-android/pull/361 in the next version of the SDK.

[2016-07-03 14:21] ismaeltoe commented on #374
Hi, is it resolved in 4.9?

[2016-07-05 17:57] patedit commented on #374
It is resolved in the latest release, yes 👍

[2016-07-05 17:57] #374 closed

[2016-07-05 18:03] patedit commented on #308
Starting 4.9.0 we have a LRU cache on `ImageStore` that will prevent re-loading the same bitmaps for notifications, ab testing, etc.. Thanks everyone for your input 👍 Hope this gets resolved finally!

[2016-07-05 18:03] #308 closed

[2016-07-05 18:03] #211 closed

[2016-07-11 03:35] joshln87 commented on #178
Any update on this? I'm still getting lag from codeless events. Very obvious when using SwipeRefreshLayout. Overscrolling can see obvious lag in the spinner.

[2016-07-12 13:21] nbarishok commented on #362
I've faced the same problem.
And there is some confusing thing, along these lines:

**DecideChecker.java**
`                DecideChecker.Result e = this.runDecideCheck(updates.getToken(), distinctId, poster);
                updates.reportResults(e.surveys, e.notifications, e.eventBindings, e.variants);`

Here the **e.variants** is empty. And actually the response from server is  **{"notification